{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
<!-- block sidebar -->
<!-- endblock -->
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->Uvoz iz CSV<!-- napis modula -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}

    <form method="POST", action="">{% csrf_token %}

        {{ uvoz_form | crispy}}


        <div class="panel panel-primary">
            <div class="panel-heading">Utiliti</div>
            <div class="panel-body">
                {{ utiliti_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Partnerji</div>
            <div class="panel-body">
                {{ partnerji_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Deli Stavbe</div>
            <div class="panel-body">
                {{ deli_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Računovodstvo</div>
            <div class="panel-body">
                {{ racunovodstvo_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Delovni Nalogi</div>
            <div class="panel-body">
                {{ delovninalogi_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Etažna Lastnina</div>
            <div class="panel-body">
                {{ etaznalastnina_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Katalog</div>
            <div class="panel-body">
                {{ katalog_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Pošta</div>
            <div class="panel-body">
                {{ posta_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Predpisi</div>
            <div class="panel-body">
                {{ predpisi_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Moduli</div>
            <div class="panel-body">
                {{ moduli_uvoz_form|crispy  }}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Stevcno Stanje</div>
            <div class="panel-body">
                {{ stevcno_stanje_uvoz_form|crispy  }}
            </div>
        </div>

        <input type="submit" value="Potrdi">
    </form>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}
{% endblock %}
<!-- end JAVASCRIPT EXTRA -->
