<!-- zahtevek detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel panel-default p-0">
            <div class="panel-body p-0"> 



                <!--nav-tabs-->              
                <ul class="nav nav-tabs profile-tabs">
                    <li class="active"><a data-toggle="tab" href="#nelikvidirani">Računi <b>za Likvidiranje</b></a></li>
                    <li><a data-toggle="tab" href="#likvidirani"><b>Likvidirani</b> Računi</a></li>          
                </ul>
                <!--end nav-tabs-->



                <!--tab-content-->
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="nelikvidirani" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>RAČUNI ZA LIKVIDIRANJE:</h1>
                            {% include "racunovodstvo/racun/list/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                    <!--tab******************************** -->
                    <div id="likvidirani" class="tab-pane">
                        <div class="profile-desk">
                            <h1>LIKVIDIRANI RAČUNI:</h1>
                            {% include "racunovodstvo/racun/list/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>