

<table class="table table-condensed table-bordered">


{% for skupina in object_list %}
    <tr>
        <td colspan="3" class="danger"><b>({{ skupina.oznaka }}) {{ skupina.naziv }}</b></td>
        
            {% for podskupina in skupina.sorted_podskupinadelov_set %}
            <tr>
                <td></td>
                <td colspan="2"  class="warning"><b>({{ podskupina.oznaka }}) {{ podskupina.naziv }}</b></td>

                    {% for del in podskupina.sorted_delstavbe_set %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b><a href="{% url 'moduli:deli:del_detail' del.pk %}">({{ del.oznaka }})</a> {{ del.naziv }}</b></td>
                    </tr>
                    {% endfor %}
            </tr>
            {% endfor %}
        
    </tr>
{% endfor %}
</table>