

<!-- TAB_02 Content -->

        <text>Seznam odprtih pomanjkljivosti</text><br>
        <table class="table">
            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>opis</th>
                <th>prijavil</th>
                <th>datum ugotovitve</th>
                <th>lokacija</th>
                <th>elementi</th>
                <th>zahtevek</th>
            </tr>

            {% for object in pomanjkljivosti_vresevanju %}


            <tr>
                <td><a href="{% url 'moduli:pomanjkljivosti:pomanjkljivost_detail' object.pk %}">{{ object.oznaka }}</a></td>
                <td>{{ object.naziv }}</td>
                <td>{{ object.opis }}</td>
                <td>{{ object.prijavil_text }}</td>
                <td>{{ object.datum_ugotovitve }}</td>
                <td>{{ object.lokacija_text }}</td>

                <td>
                {% for element in object.element.all %}

                        <li>{{ element.oznaka }} {{ element.naziv }}</li>
                        
                {% endfor %}

                </td>

                <td><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek.pk %}">{{ object.zahtevek.oznaka }}</a></td>
            </tr>
            {% endfor %}

        </table>
