<!-- TAB_01 Content -->

        <text>Seznam odprtih pomanjkljivosti</text><br>
        <table class="table">
            <tr>
                <th>oznaka</th>
                <th>prijava</th>
                <th>prijavil</th>
                <th>datum ugotovitve</th>
                <th>elementi</th>
                <th>lokacija</th>
            </tr>

            {% for object in pomanjkljivosti_nelikvidirane %}
            <tr>
                <td><a href="{% url 'moduli:pomanjkljivosti:pomanjkljivost_detail' object.pk %}">{{ object.oznaka }}</a></td>
                <td>{{ object.naziv }}</td>
                <td>{{ object.prijavil }}</td>
                <td>{{ object.datum_ugotovitve }}</td>
                <td>{{ object.element }}</td>
                <td>{{ object.lokacija }}</td>
            </tr>
            {% endfor %}

        </table>

