<!-- TAB_02 Content -->

        <table class="table table-striped table-bordered">
            <tr>
                <th>Oznaka</th>
                <th>Vrsta</th>
                <th>Predmet</th>
            </tr>

            {% for object in zahtevki_zakljuceni_list %}
            <tr>
                <td><b><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}">{{ object.oznaka }}</a></b></td>
                <td><b>{{ object.get_vrsta_display }}</b></td>
                <td>{{ object.naziv }}</td>
            </tr>
            {% endfor %}

        </table>
