<!-- Model nima še nobenega vnosa -->
{% if not zahtevek_child_list %}
    Zahtevek še nima registriranih pod-zahtevkov.

<!-- Vnosi so na razpolago -->
{% else %}


<table class="table table-hover table-condensed">
        <tr>
        <th>oznaka</th>
        <th>predmet</th>
        <th>rok izvedbe</th>

        </tr>

{% for podzahtevek in zahtevek_child_list %}

    {% if podzahtevek.is_active %}
    <tr>
    {% else %}

    <tr class="success">
    {% endif %}

        <td><a href="{% url 'moduli:zahtevki:zahtevek_detail' podzahtevek.pk %}">{{ podzahtevek.oznaka }}</a></td>
        <td>{{ podzahtevek.naziv }}</td>
        <td>{{ podzahtevek.rok_izvedbe }}</td>
    </tr>
{% endfor %}

</table>


{% endif %}