{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "posta/dokument/list/content.html" %}
{% include "posta/dokument/list/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<!-- nelikvidirana pošta -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable_posta_nearhivirano').dataTable();
        } );
    </script>

    <!-- likvidirana pošta -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable_posta_arhivirano').dataTable();
        } );
    </script>

    <!-- Reload page doesn't change selection of the checkboxes -->
    <script type="text/javascript">
        var formValues = JSON.parse(localStorage.getItem('formValues')) || {};
        var $checkboxes = $("#checkbox-container :checkbox");
        var $button = $("#checkbox-container button");

        function allChecked(){
          return $checkboxes.length === $checkboxes.filter(":checked").length;
        }

        function updateButtonStatus(){
          $button.text(allChecked()? "Uncheck all" : "Check all");
        }

        function handleButtonClick(){
          $checkboxes.prop("checked", allChecked()? false : true)
        }

        function updateStorage(){
          $checkboxes.each(function(){
            formValues[this.id] = this.checked;
          });

          formValues["buttonText"] = $button.text();
          localStorage.setItem("formValues", JSON.stringify(formValues));
        }

        $button.on("click", function() {
          handleButtonClick();
          updateButtonStatus();
          updateStorage();
        });

        $checkboxes.on("change", function(){
          updateButtonStatus();
          updateStorage();
        });

        // On page load
        $.each(formValues, function(key, value) {
          $("#" + key).prop('checked', value);
        });

        $button.text(formValues["buttonText"]);
    </script>


{% endblock %}
<!-- end JAVASCRIPT EXTRA -->