{% extends "delovninalogi/delovninalog/list/base.html" %}


    {% block dn_title %}
    Delovni Nalogi
    {% endblock %}

        


    {% block dn_panel1_heading1 %}
    <b>V ČAKANJU</b>
    {% endblock %}

    {% block dn_panel1_content1 %}
       

            <table class="table">
                <tr>
                    <th>delovni nalog</th>
                    <th>opravilo</th>
                    <th>rok izvedbe</th>
                    <th>nosilec</th>
                    <th>nadzor</th>
                </tr>

                {% for dn in dn_vcakanju_list %}
                
                <tr>
                
                    <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">{{ dn.oznaka }}</a></td>
                    <td>{{ dn.opravilo.naziv }} ({{ dn.opravilo.oznaka }})</td>
                    <td>{{ dn.opravilo.rok_izvedbe }}</td>
                    <td><b>{{ dn.nosilec.priimek }} {{ dn.nosilec.ime }}</b><br>
                        ({{ dn.nosilec.podjetje.kratko_ime }})
                    </td>
                    <td><b>{{ dn.opravilo.nadzornik.priimek }} {{ dn.opravilo.nadzornik.ime }}</b><br>
                        ({{ dn.opravilo.nadzornik.podjetje.kratko_ime}})
                    </td>

                </tr>
                
                {% endfor %}
             
            </table>
    {% endblock %}


    {% block dn_panel1_heading2 %}
    <b>V PLANU</b>
    {% endblock %}

    {% block dn_panel1_content2 %}
       

            <table class="table">
                <tr>
                    <th>delovni nalog</th>
                    <th>opravilo</th>
                    <th>rok izvedbe</th>
                    <th>planirano dne</th>
                    <th>nosilec</th>
                    <th>nadzor</th>
                </tr>

                {% for dn in dn_vplanu_list %}
                <a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">
                <tr>
                    <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">{{ dn.oznaka }}</a></td>
                    <td>{{ dn.opravilo.naziv }} ({{ dn.opravilo.oznaka }})</td>
                    <td>{{ dn.opravilo.rok_izvedbe }}</td>
                    <td>{{ dn.datum_plan }}</td>
                    <td><b>{{ dn.nosilec.priimek }} {{ dn.nosilec.ime }}</b><br>
                        ({{ dn.nosilec.podjetje.kratko_ime }})
                    </td>
                    <td><b>{{ dn.opravilo.nadzornik.priimek }} {{ dn.opravilo.nadzornik.ime }}</b><br>
                        ({{ dn.opravilo.nadzornik.podjetje.kratko_ime}})
                    </td>
                </tr>
                
                {% endfor %}
             
            </table>

        
    {% endblock %}


    {% block dn_panel1_heading3 %}
    <b>V REŠEVANJU</b>
    {% endblock %}

    {% block dn_panel1_content3 %}

       

            <table class="table">
                <tr>
                    <th>delovni nalog</th>
                    <th>opravilo</th>
                    <th>rok izvedbe</th>
                    <th>začetek dne</th>
                    <th>nosilec</th>
                    <th>nadzor</th>
                </tr>

                {% for dn in dn_vresevanju_list %}
                <tr>
                    <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">{{ dn.oznaka }}</a></td>
                    <td>{{ dn.opravilo.naziv }} ({{ dn.opravilo.oznaka }})</td>
                    <td>{{ dn.opravilo.rok_izvedbe }}</td>
                    <td>{{ dn.datum_start }}</td>
                    <td><b>{{ dn.nosilec.priimek }} {{ dn.nosilec.ime }}</b><br>
                        ({{ dn.nosilec.podjetje.kratko_ime }})
                    </td>
                    <td><b>{{ dn.opravilo.nadzornik.priimek }} {{ dn.opravilo.nadzornik.ime }}</b><br>
                        ({{ dn.opravilo.nadzornik.podjetje.kratko_ime}})
                    </td>
                </tr>
                
                {% endfor %}
             
            </table>

    {% endblock %}
   

    {% block dn_panel1_heading4 %}
    <b>ZAKLJUČENI</b>
    {% endblock %}

    {% block dn_panel1_content4 %}

       
            <table class="table">
                <tr>
                    <th>delovni nalog</th>
                    <th>opravilo</th>
                    <th>rok izvedbe</th>
                    <th>zaključeno dne</th>
                    <th>nosilec</th>
                    <th>nadzor</th>
                </tr>

                {% for dn in dn_zakljuceni_list %}
                {% if dn.opravilo.is_potrjen %}
                <tr class="success">
                {% else %}
                <tr>
                {% endif %}
                    <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">{{ dn.oznaka }}</a></td>
                    <td>{{ dn.opravilo.naziv }} ({{ dn.opravilo.oznaka }})</td>
                    <td>{{ dn.opravilo.rok_izvedbe }}</td>
                    <td>{{ dn.datum_stop }}</td>
                    <td><b>{{ dn.nosilec.priimek }} {{ dn.nosilec.ime }}</b><br>
                        ({{ dn.nosilec.podjetje.kratko_ime }})
                    </td>
                    <td><b>{{ dn.opravilo.nadzornik.priimek }} {{ dn.opravilo.nadzornik.ime }}</b><br>
                        ({{ dn.opravilo.nadzornik.podjetje.kratko_ime}})
                    </td>
                </tr>
                </div>
                
                {% endfor %}
             
            </table>


    {% endblock %}

