<!-- Planirana Opravila -->

<table class="table table-hover table-condensed">
    <tr>
        <th>oznaka</th>
        <th>naziv</th>
        <th>sklop</th>
    </tr>

    {% for predpis_opravilo in predpis_opravilo_list %}
    {{ predpis_opravilo.podsklop.sklop }}

        {% for predpis in predpis_opravilo.predpis.all %}

    <!-- ZAKONSKE AKTIVNOSTI -->


    {% if predpis_opravilo.predpis_podsklop.predpis_sklop.oznaka == "POV" %}
        
    <tr>
        <td><a href=""></a>{{ predpis.oznaka }}</td>
        <td>{{ predpis.naziv }}</td>
        <td>{{ predpis_opravilo.predpis_podsklop.predpis_sklop.naziv }}</td>
    </tr>


    <!-- NEZAKONSKE AKTIVNOSTI -->
    {% else %}
    <tr>
        <td><a href=""></a>{{ predpis.oznaka }}</td>
        <td>{{ predpis.naziv }}</td>
        <td>({{ predpis_opravilo.predpis_podsklop.predpis_sklop.oznaka }}) {{ predpis_opravilo.predpis_podsklop.predpis_sklop.naziv }}</td>
    </tr>
    {% endif %}
    

    {% endfor %}
{% endfor %}

</table>