<!-- TAB_01 Content -->
    
    <table class="table table-bordered">

        <tr>
            <td><small><b>oznaka</b></small></td>
            <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
        </tr>
        <tr>
            <td><small><b>naziv</b></small></td>
            <td><b style="color:#0000FF">{{ object.naziv }}</b></td>
        </tr>
        <tr>
            <td><small><b>vrsta</b></small></td>
            <td><b style="color:#0000FF">{{ object.get_vrsta_display }}</b></td>
        </tr>
        <tr>
            <td><small><b>naročilo</b></small></td>
            <td><b style="color:#0000FF">
                <a href="{% url 'moduli:narocila:narocilo_detail' object.narocilo.pk %}">
                    {{ object.narocilo.predmet }} ({{ object.narocilo.oznaka}})
                </a></b>
            </td>
        </tr>
        <tr>
            <td><small><b>status</b></small></td>
            <td><b style="color:#0000FF">{{ object.get_status_display }}</b></td>
        </tr>
        <!--Drevesna struktura zahtevkov-->
        <tr>
            <td colspan="2" class="warning"><small><b>Drevesna Struktura</b></small></td>
        </tr>

        <!--Če parent zahtevka obstaja-->
        <tr>
            {% if object.zahtevek_parent %}
            <td><small><b>Nad-Zahtevki</b></small></td>
            
            <td>
                {% if object.zahtevek_parent.zahtevek_parent.zahtevek_parent %}
                    <b style="color:#0000FF"> <a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek_parent.zahtevek_parent.zahtevek_parent.pk %}">({{ object.zahtevek_parent.zahtevek_parent.zahtevek_parent.get_vrsta_display }}|{{ object.zahtevek_parent.zahtevek_parent.zahtevek_parent.oznaka }})</a> {{ object.zahtevek_parent.zahtevek_parent.zahtevek_parent.naziv }}|{{ object.zahtevek_parent.zahtevek_parent.zahtevek_parent.get_status_display }}</b>
                {% endif %}

                    {% if object.zahtevek_parent.zahtevek_parent %}
                    <ul><li>
                        
                        <b style="color:#0000FF"><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek_parent.zahtevek_parent.pk %}">({{ object.zahtevek_parent.zahtevek_parent.get_vrsta_display }}|{{ object.zahtevek_parent.zahtevek_parent.oznaka }})</a> {{ object.zahtevek_parent.zahtevek_parent.naziv }}|{{ object.zahtevek_parent.zahtevek_parent.get_status_display }}</b>
                        </li>
                    {% endif %}

                            {% if object.zahtevek_parent %}
                            <ul><li>
                            
                            <b style="color:#0000FF"><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek_parent.pk %}">({{ object.zahtevek_parent.get_vrsta_display }}|{{ object.zahtevek_parent.oznaka }})</a> {{ object.zahtevek_parent.naziv }}|{{ object.zahtevek_parent.get_status_display }}</b>
                            </li></ul>
                            {% endif %}

                {% endif %}
                </ul>
            </td>
        </tr>
        
        {% if object.zahtevek_set.all %}
        <tr>
            <td><small><b>Pod-Zahtevki</b></small></td>
            <td>

            <!--NIVO 1--> 
            {% if object.zahtevek_set.all %}  
            {% for object in object.zahtevek_set.all %}
                    <ul>
                        <li><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}"><b>({{ object.get_vrsta_display }}|{{ object.oznaka }})</b> {{ object.naziv }}</a></li>
                        
                        

                            {% if object.zahtevek_set.all %} 
                            {% for object in object.zahtevek_set.all %}
                                <ul><!--NIVO 2-->
                                    <li><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}"><b>({{ object.get_vrsta_display }}|{{ object.oznaka }})</b> {{ object.naziv }}</a></li>
                            
  
                                
                                    {% if object.zahtevek_set.all %} 
                                    {% for object in object.zahtevek_set.all %}
                                        <ul><!--NIVO 3-->
                                            <li><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}"><b>({{ object.get_vrsta_display }}|{{ object.oznaka }})</b> {{ object.naziv }}</a></li>

                                     
                                            {% if object.zahtevek_set.all %} 
                                            {% for object in object.zahtevek_set.all %}
                                                <ul><!--NIVO 4-->
                                                    <li><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}"><b>({{ object.get_vrsta_display }}|{{ object.oznaka }})</b> {{ object.naziv }}</a></li>
                                                </ul>
                                            {% endfor %}
                                            {% endif %}

                                        </ul>
                                    {% endfor %}
                                    {% endif %}
                                
                                </ul>
                            {% endfor %}
                            {% endif %}
                        </ul>  
            {% endfor %}
            {% endif %}
            </td>
        </tr>
        {% endif %}


    </table>

                
