<!-- Dogodki -->


        <div class="panel-{{ modul_zavihek.modul.barva }}">
            <div class="panel-heading">Predaja ključev</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>oznaka</th>
                        <th>datum predaje</th>
                        <th>vrsta predaje</th>

                    </tr>

                    {% for object in predaja_kljuca_list %}

                    {% if object.vrsta_predaje == 1 %}
                    <tr class="danger">
                    {% else %}
                    <tr class="success">
                    {% endif %}
                        <td><b>{{ object.kljuc.oznaka }}</b></td>
                        <td>{{ object.datum_predaje }}</td>
                        <td>{{ object.get_vrsta_predaje_display }}</td>
                    </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>

