<!-- MATERIAL -->

<!-- Ko še ni registriranih vnosov -->
{% if not material_list %}
    Delovni nalog še nima vnešenega materiala.

<!-- Ko vnosi že obstajajo -->
{% else %}
    <table class="table table-condensed table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>količina</th>
            </tr>

        </thead>
        <tbody>

            {% for arhiviranje in object.arhiviranje_set.all %}

            <tr>
                <td>{{ material.artikel.oznaka }}</td>
                <td>{{ material.artikel.naziv }}</td>
                <td>{{ material.kom }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
{% endif %}