{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:zahtevki:zahtevek_list' %}">Nazaj</a> | <a href="">Nov vnos</a>
    </i></small>

    <div class="jumbotron">
        <h4>
            <div class="row">
{# ************************PRVA vrstica #}
                <div class="col-xs-6 col-md-6">
                    <table class="table">



                        <tr>
                            <td><small><b>oznaka</b></small></td>
                            <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b>predmet</b></small></td>
                            <td><b style="color:#0000FF">{{ object.predmet }}</b></td>
                        </tr>

{% if object.zahtevek_skodni_dogodek %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Škodni Dogodek</td>
                        </tr>
{% endif %}
{% if object.zahtevek_sestanek %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Sestanek</td>
                        </tr>
{% endif %}
{% if object.zahtevek_izvedba_dela %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Izvedba del</td>
                        </tr>
{% endif %}
{% if object.zahtevek_parent %}     
                        <tr>
                            <td><small><b>osnova za zahtevek</b></small></td>
                            <td><small><b>{{ object.zahtevek_parent.predmet }} ({{ object.zahtevek_parent.oznaka }})</b></small></td>
                        </tr>
{% endif %}


{# ************************DRUGA vrstica #}
                    </table>
                </div>

                <div class="col-xs-6 col-md-6">
                    <table class="table">
                        
                        <tr>
                            <td><small><b>nosilec</b></small></td>
                            <td><b>{{ object.nosilec.priimek }} {{ object.nosilec.ime }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b>rok izvedbe</b></small></td>
                            <td><b>{{ object.rok_izvedbe }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b><a href="">naročilnica</a></b></small></td>
                            <td><b>{{ object.narocilo.oznaka }}</b></td>
                        </tr>
                        

                    </table>

            </div>
        </h4>
    </div>

{# ********************NAVIGATION BAR #}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#zaznamki">Zaznamki</a></li>
    <li><a data-toggle="tab" href="#opravila">Opravila</a></li>
    <li><a data-toggle="tab" href="#dokumentacija">Dokumentacija</a></li>
  </ul>

  <div class="tab-content">
    <div id="zaznamki" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="opravila" class="tab-pane fade">
        <nav class="navbar navbar-inverse">

              <a class="navbar-brand">Seznam Opravil</a>
              <button type="button" class="navbar-brand pull-right btn-default" data-toggle="modal" data-target="#addOpravilo">
                        Novo Opravilo
                        </button>
        </nav>

        <div class="">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>oznaka</th>
                    <th>naziv</th>
                    <th>vrsta stroška</th>
                    <th>rok izvedbe</th>
                    <th>status</th>
                </tr>

                {% for opravilo in opravilo_list %}

                {% if opravilo.is_active %}
                <tr>
                {% else %}
                


                <tr class="success">
                {% endif %}
                    <td><a href="{% url 'moduli:delovninalogi:opravilo_detail' opravilo.pk %}">{{ opravilo.oznaka }}</a></td>
                    <td>{{ opravilo.naziv }}</td>
                    <td>{{ opravilo.vrsta_stroska.naziv }} ({{ opravilo.vrsta_stroska.oznaka }})</td>
                    <td>{{ opravilo.rok_izvedbe }}</td>

                    {# status #}
                    {% if opravilo.delovninalog_set.all %}
                    <td>V reševanju</td>
                    {% else %}
                    <td>v čakanju</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>
        </div>

    </div>
    <div id="dokumentacija" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
    </div>
  </div>
 </div>



</div>



<!-- Modal ADD Opravilo-->
<div class="modal fade" id="addOpravilo" tabindex="-1" role="dialog" aria-labelledby="addOpravilo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo Opravilo</h4>
            </div>


            <form action="" method="POST">{% csrf_token %}
                <div class="modal-body">
                    {{ opravilo_form|crispy  }}   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="btn btn-primary">Shrani</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
