{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:zahtevki:zahtevek_list' %}">Nazaj</a> | <a href="">Nov vnos</a>
    </i></small>

    <div class="jumbotron">
        <h4>
            <div class="row">
{# ************************PRVA vrstica #}
                <div class="col-xs-6 col-md-6">
                    <table class="table">



                        <tr>
                            <td><small><b>oznaka</b></small></td>
                            <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b>predmet</b></small></td>
                            <td><b style="color:#0000FF">{{ object.predmet }}</b></td>
                        </tr>

{% if object.zahtevek_skodni_dogodek %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Škodni Dogodek</td>
                        </tr>
{% endif %}
{% if object.zahtevek_sestanek %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Sestanek</td>
                        </tr>
{% endif %}
{% if object.zahtevek_izvedba_dela %}
                        <tr>
                            <td><small><b>vrsta</b></small></td>
                            <td>Izvedba del</td>
                        </tr>
{% endif %}
{% if object.zahtevek_parent %}     
                        <tr>
                            <td><small><b>osnova za zahtevek</b></small></td>
                            <td><small><b>{{ object.zahtevek_parent.predmet }} ({{ object.zahtevek_parent.oznaka }})</b></small></td>
                        </tr>
{% endif %}


{# ************************DRUGA vrstica #}
                    </table>
                </div>

                <div class="col-xs-6 col-md-6">
                    <table class="table">
                        
                        <tr>
                            <td><small><b>nosilec</b></small></td>
                            <td><b>{{ object.nosilec.priimek }} {{ object.nosilec.ime }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b>rok izvedbe</b></small></td>
                            <td><b>{{ object.rok_izvedbe }}</b></td>
                        </tr>
                        <tr>
                            <td><small><b>naročilnica</b></small></td>
                            <td><b><a href="">{{ object.narocilo }}</a></b></td>
                        </tr>
                        

                    </table>

            </div>
        </h4>
    </div>

{# ********************NAVIGATION BAR #}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Zaznamki</a></li>
    <li><a data-toggle="tab" href="#menu1">Opravila</a></li>
    <li><a data-toggle="tab" href="#menu2">Dokumentacija</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
    </div>
  </div>
 </div>



</div>

{% endblock %}
