<!--tab******************************** -->
<div id="vzorec" class="tab-pane">
    <div class="profile-desk">
        {% include "planiranje/planirano_opravilo/detail/200_content/tabs/tab_03.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="osnova" class="tab-pane">
    <div class="profile-desk">
        {% include "planiranje/planirano_opravilo/detail/200_content/tabs/tab_02.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="aktivnost" class="tab-pane">
    <div class="profile-desk">
        {% include "planiranje/planirano_opravilo/detail/200_content/tabs/tab_01.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->

<!--tab******************************** -->
<div id="izvedenaopravila" class="tab-pane active">
    <div class="profile-desk">
        {% include "planiranje/planirano_opravilo/detail/200_content/tabs/tab_04.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->
