<!--tab******************************** -->
<div id="podatki" class="tab-pane active">
    <div class="profile-desk">
        {% include "racunovodstvo/racun/detail/200_content/tabs/tab_01.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="stroski" class="tab-pane">
    <div class="profile-desk">
        {% include "racunovodstvo/racun/detail/200_content/tabs/tab_02.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->
