<!-- delovninalogi detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#podatki"><b>P</b>odatki</a></li>
                    <li><a data-toggle="tab" href="#dela"><b>D</b>ela</a></li>
                    <li><a data-toggle="tab" href="#material"><b>M</b>aterial</a></li>
                    <li><a data-toggle="tab" href="#dokumentacija"><b>D</b>okumentacija</a></li>
                    <li><a data-toggle="tab" href="#zaznamki"><b>Z</b>aznamki</a></li>
                </ul>
            </div>

            <div class="panel-body" > 
                <div class="tab-content"> 



                    <!--tab******************************** -->
                    <div id="podatki" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dela" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dokumentacija" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="material" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_04.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="zaznamki" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_05.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                </div>
            </div>
            
        </div>
    </div>
</div>