<!-- NAROČILA -->

<!-- Ko še ni registriranih vnosov -->
{% if not narocila_list %}
    Trenutno še ni registriranih naročil.

<!-- Ko vnosi že obstajajo -->
{% else %}
    <table class="table table-condensed table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>predmet</th>
                <th>Dokument</th>
                <th>Command</th>
            </tr>

        </thead>
        <tbody>

            {% for object in narocila_list %}

            <tr>
                <td><b><a href="{% url 'moduli:narocila:narocilo_detail' object.pk %}">
                {{ object.oznaka }}</a></b></td>
                <td>{{ object.predmet }}</td>
                <td><a href="{{ MEDIA_URL }}{{ object.narocilodokument.dokument.dokument.priponka }}">{{ object.narocilodokument.dokument.dokument.oznaka }}</a></td>
                <td></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
{% endif %}