<!-- DOGODKI -->

<!-- Ko še ni registriranih vnosov -->
{% if not object.dogodek_set.all %}
    Zahtevek še nima registriranih dogodkov.

<!-- Ko vnosi že obstajajo -->
{% else %}
    <table class="table table-condensed table-bordered table-striped">
        <thead>

            <tr>
                <th>datum</th>
                <th>kritičen čas</th>
                <th>opis</th>
                <th>Potrebna prijava policiji?</th>
                <th>Je povzročena škoda?</th>
                <th>Prijava Škode</th>
                <th>Prijava policiji</th>
                <th>Račun za popravilo</th>
                <th>Poravnava škode</th>
                <th>Edit</th>
            </tr>

        </thead>
        <tbody>

            {% for dogodek in object.dogodek_set.all %}

            <tr>
                <td>{{ dogodek.datum_dogodka }}</td>
                <td>{{ dogodek.cas_dogodka }}</td>
                <td>{{ dogodek.opis_dogodka }}</td>
                <td>{{ dogodek.is_potrebna_prijava_policiji }}</td>
                <td>{{ dogodek.is_nastala_skoda }}</td>
                <td><a href="{{ MEDIA_URL }}{{ dogodek.prijava_skode.dokument.priponka }}">{{  dogodek.prijava_skode }}</a></td>
                <td><a href="{{ MEDIA_URL }}{{ dogodek.prijava_policiji.dokument.priponka }}">{{  dogodek.prijava_policiji }}</a></td>
                <td><a href="{{ MEDIA_URL }}{{ object.dogodek.racun_za_popravilo.dokument.priponka }}">{{  dogodek.racun_za_popravilo }}</a></td>
                <td><a href="{{ MEDIA_URL }}{{ object.dogodek.poravnava_skode.dokument.priponka }}">{{  dogodek.poravnava_skode }}</a></td>
                <td><a type="button" href="{% url 'moduli:dogodki:dogodek_update_from_zahtevek' dogodek.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
{% endif %}