<!-- DOKUMENTI -->

<!-- Ko še ni registriranih vnosov -->
{% if not arhiv_mesto.arhiviranje_set.all %}
    Zahtevek še nima arhiviranih dokumentov.

<!-- Ko vnosi že obstajajo -->
{% else %}
    <table class="table table-condensed table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>vrsta dokumenta</th>
                <th>datum</th>
                <th>naziv</th>
                <th>izdal</th>
                <th>veljavnost</th>
            </tr>

        </thead>
        <tbody>

        <!-- Pogoji pod katerimi se dokumenti tukaj prikažejo ali ne -->
            {% if not arhiviranje.delovninalog %}<!-- če je direktno pod zahtevek -->
            {% if not arhiviranje.dogodek %}<!-- če je direktno pod dogodek -->

            {% for arhiviranje in arhiv_mesto.arhiviranje_set.all %}

            <!-- V primeru, da se dokument vodi v evidenci veljavnosti dokumentov -->
            {% if arhiviranje.veljavnostdokumenta.is_active %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
                <td><b><a href="{{ MEDIA_URL }}{{ arhiviranje.dokument.priponka }}">{{ arhiviranje.dokument.oznaka }}</a></b></td>
                <td>({{ arhiviranje.dokument.vrsta_dokumenta.oznaka }}) {{ arhiviranje.dokument.vrsta_dokumenta.naziv }}</td>
                <td>{{ arhiviranje.dokument.datum_dokumenta }}</td>
                <td>{{ arhiviranje.dokument.naziv }}</td>
                <td>{{ arhiviranje.dokument.avtor.kratko_ime }}</td>
                <td>
                    <!-- Če se sledenje veljavnosti dokumenta izvaja -->
                    {% if arhiviranje.veljavnostdokumenta %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_update' arhiviranje.veljavnostdokumenta.pk  %}"><i class="fa fa-link" aria-hidden="true"></i>
                    </a>

                    <!-- Če ni sledenja veljavnosti dokumenta -->
                    {% else %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_create' arhiviranje.pk  %}"><i class="fa fa-chain-broken" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

            {% endif %}
            {% endif %}

            
            <!-- Dokumentacija iz Delovnih nalogov -->
            {% for opravilo in object.opravilo_set.all %}
            {% for delovninalog in opravilo.delovninalog_set.all %}

            {% if delovninalog.arhiviranje_set.all %}
            <tr class="warning">
                <td colspan="6">Delovni nalog: št.: <b>{{ delovninalog.oznaka }}</b> | Naziv: <b>{{ delovninalog.opravilo.naziv }}</b></td></tr>

            {% for arhiviranje in delovninalog.arhiviranje_set.all %}
                
            <!-- V primeru, da se dokument vodi v evidenci veljavnosti dokumentov -->
            {% if arhiviranje.veljavnostdokumenta.is_active %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
                <td><b><a href="{{ MEDIA_URL }}{{ arhiviranje.dokument.priponka }}">{{ arhiviranje.dokument.oznaka }}</a></b></td>
                <td>({{ arhiviranje.dokument.vrsta_dokumenta.oznaka }}) {{ arhiviranje.dokument.vrsta_dokumenta.naziv }}</td>
                <td>{{ arhiviranje.dokument.datum_dokumenta }}</td>
                <td>{{ arhiviranje.dokument.naziv }}</td>
                <td>{{ arhiviranje.dokument.avtor.kratko_ime }}</td>
                <td>
                    <!-- Če se sledenje veljavnosti dokumenta izvaja -->
                    {% if arhiviranje.veljavnostdokumenta %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_update' arhiviranje.veljavnostdokumenta.pk  %}"><i class="fa fa-link" aria-hidden="true"></i>
                    </a>

                    <!-- Če ni sledenja veljavnosti dokumenta -->
                    {% else %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_create' arhiviranje.pk  %}"><i class="fa fa-chain-broken" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>
            
            {% endfor %}

            {% endif %}

            {% endfor %}
            {% endfor %}


            <!-- Dokumentacija iz Dogodkov -->
            {% for dogodek in object.dogodek_set.all %}

            {% if object.dogodek.arhiviranje_set.all %}
            <tr class="warning">
                <td colspan="6"><b>Dogodek: ({{ dogodek.datum_dogodka }}) {{ dogodek.opis_dogodka }}</b></td>
            </tr>

            {% for arhiviranje in dogodek.arhiviranje_set.all %}

            <!-- V primeru, da se dokument vodi v evidenci veljavnosti dokumentov -->
            {% if arhiviranje.veljavnostdokumenta.is_active %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
                <td><b><a href="{{ MEDIA_URL }}{{ arhiviranje.dokument.priponka }}">{{ arhiviranje.dokument.oznaka }}</a></b></td>
                <td>({{ arhiviranje.dokument.vrsta_dokumenta.oznaka }}) {{ arhiviranje.dokument.vrsta_dokumenta.naziv }}</td>
                <td>{{ arhiviranje.dokument.datum_dokumenta }}</td>
                <td>{{ arhiviranje.dokument.naziv }}</td>
                <td>{{ arhiviranje.dokument.avtor.kratko_ime }}</td>
                <td>
                    <!-- Če se sledenje veljavnosti dokumenta izvaja -->
                    {% if arhiviranje.veljavnostdokumenta %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_update' arhiviranje.veljavnostdokumenta.pk  %}"><i class="fa fa-link" aria-hidden="true"></i>
                    </a>

                    <!-- Če ni sledenja veljavnosti dokumenta -->
                    {% else %}
                    <a href="{% url 'moduli:veljavnostdokumentov:veljavnost_dokumenta_create' arhiviranje.pk  %}"><i class="fa fa-chain-broken" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
            
            {% endif %}

            {% endfor %}

        </tbody>
    </table>
{% endif %}