
<div class="table-resposnive">
    <table id="datatable" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>Oznaka</th>
                <th>Vrsta</th>
                <th>Predmet</th>
            </tr>
        </thead>


        <tbody>
            {% for object in object_list %}
            <tr>
                <td><b><a href="" onclick="opener.dismissRelatedLookupPopup(window, {{ object.pk }})">{{ object.oznaka }}</a></b></td>
                <td><b>{{ object.get_vrsta_display }}</b></td>
                <td>{{ object.naziv }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'core/pagination.html' with form_target='list-filter' %}