
<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel panel-default p-0">
            <div class="panel-body p-0"> 



                <!--nav-tabs-->              
                <ul class="nav nav-tabs profile-tabs">
                    <li class="active"><a data-toggle="tab" href="#common_data"><b>P</b>odatki o Lastništvu</a></li>
                    <li><a data-toggle="tab" href="#teh_data"><b>T</b>ehnični Podatki</a></li>
                    <li><a data-toggle="tab" href="#dogodki"><b>D</b>nevnik Dogodkov</a></li>
                    <li><a data-toggle="tab" href="#skupni_deli"><b>S</b>kupni Deli v Solasti</a></li>
                    <li><a data-toggle="tab" href="#slikovno_gradivo"><b>S</b>likovno Gradivo</a></li>

                </ul>
                <!--end nav-tabs-->



                <!--tab-content-->
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="common_data" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>PODATKI O LASTNIŠTVU :</h1>
                            {% include "etaznalastnina/lastniska_enota_interna/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="teh_data" class="tab-pane">
                        <div class="profile-desk">
                            <h1>TEHNIČNI PODATKI :</h1>
                            {% include "etaznalastnina/lastniska_enota_interna/detail/tabs/tab_02.html" %}    
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dogodki" class="tab-pane">
                        <div class="profile-desk">
                            <h1>DNEVNIK DOGODKOV :</h1>
                            {% include "etaznalastnina/lastniska_enota_interna/detail/tabs/tab_03.html" %} 
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="skupni_deli" class="tab-pane">
                        <div class="profile-desk">
                            <h1>SKUPNI DELI V SOLASTI :</h1>
                            {% include "etaznalastnina/lastniska_enota_interna/detail/tabs/tab_04.html" %} 
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="slikovno_gradivo" class="tab-pane">
                        <div class="profile-desk">
                            <h1>SLIKOVNO GRADIVO :</h1>
                            {% include "etaznalastnina/lastniska_enota_interna/detail/tabs/tab_05.html" %} 
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>