<!-- delovninalogi detail : NAVIGACIJA_MENU -->

<div class="row m-t-30 no_padding ">
    <div class="col-sm-12 no_padding ">
        <div class="panel no_padding">
            <div class="panel-heading background_dark_grey no_padding">
                <ul class="nav nav-pills">
                    <li class="active"><a class="btn background_dark_grey" data-toggle="tab" href="#podatki">Podatki</a></li>
                    <li><a class="btn background_dark_grey" data-toggle="tab" href="#dela">Dela</a></li>
                    <li><a class="btn background_dark_grey" data-toggle="tab" href="#material">Material</a></li>
                    <li><a class="btn background_dark_grey" data-toggle="tab" href="#dokumentacija">Dokumentacija</a></li>
                    <li><a class="btn background_dark_grey" data-toggle="tab" href="#zaznamki">Zaznamki</a></li>
                </ul>
            </div>

            <div class="panel-body background_grey" > 
                <div class="tab-content"> 



                    <!--tab******************************** -->
                    <div id="podatki" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dela" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dokumentacija" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="material" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_04.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="zaznamki" class="tab-pane">
                        <div class="profile-desk">
                            {% include "delovninalogi/delovninalog/detail/tabs/tab_05.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                </div>
            </div>
            
        </div>
    </div>
</div>