{% extends "deli/element/detail/navigacija_menu/tabs/tab_base.html" %} 
{% load crispy_forms_tags %}

<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block detail_tab_title %}VZDRŽEVANJE{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block detail_tab_controler_left %}
        <li><a href="" data-toggle="modal" data-target="#addOpravilo">Novo Planirano Opravilo</a></li>
    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block detail_tab_controler_right %}

    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->


<!-- CONTENT################################################### -->

    {% block detail_tab_content %}

        <table class="table table-hover table-condensed">
        <tr>
            <th>naziv</th>
            <th>tip opravila</th>
            <th>perioda</th>
            <th>planirano opravilo</th>
            <th>zapade dne</th>
        </tr>

    {% for aktivnost in object.planiranaaktivnost_set.all %}


    <tr>
        <td>
            {% if aktivnost.artikel_plan %}
                {{ aktivnost.artikel_plan.naziv }}
            {% else %}
                {{ aktivnost.naziv_opravila_izven_plana }}
            {% endif %}
        </td>
        <td>{% if aktivnost.artikel_plan %}predpisano{% else %}dodatno{% endif %}</td>
        <td>{{ aktivnost.planirano_opravilo.perioda_predpisana_kolicina_na_enoto }} x {{ aktivnost.planirano_opravilo.perioda_predpisana_enota_kolicina }}-{{ aktivnost.planirano_opravilo.perioda_predpisana_enota }}</td>
        <td>({{ aktivnost.planirano_opravilo.oznaka }}) {{ aktivnost.planirano_opravilo.naziv }}</td>
        <td></td>
    </tr>

    {% endfor %}

    </table>
        

<!-- Modal ADD Opravilo-->
<div class="modal fade" id="addOpravilo" tabindex="-1" role="dialog" aria-labelledby="addOpravilo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo Opravilo</h4>
            </div>


            <form action="" method="POST">{% csrf_token %}
                <div class="modal-body">
                    {{ opravilo_form|crispy  }}   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="btn btn-primary">Shrani</button>
                </div>
            </form>
        </div>
    </div>
</div>





        
    {% endblock %}

<!-- end CONTENT -->












    