{% extends "deli/element/detail/navigacija_menu/tabs/tab_base.html" %} 


<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block zahtevek_detail_tab_title %}DASHBOARD{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block zahtevek_detail_tab_controler_left %}
        <li><a>Aktivnosti</a></li>
        <li><a>Koledar</a></li>
    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block zahtevek_detail_tab_controler_right %}
        <li><a></a></li>
    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->





<!-- CONTENT################################################### -->

    {% block zahtevek_detail_tab_content %}
    {% endblock %}
    
<!-- end CONTENT -->



