{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
    {% include "zahtevki/zahtevek/detail/navbar_left.html" %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}


    <!-- panel -->
    <div style="background:#FFFFFF; opacity:1; !important" class="panel-default">
        <div style="background:{{modul_zavihek.modul.barva}}; opacity:1; !important" class="panel-heading" >
            <font color="white">
                <h3><b>{{ modul_zavihek.modul.naziv }}</b> | {{ modul_zavihek.naziv }}</h3>
            </font>
        </div>
        
        <div class="panel-body">
            <table style="row-height=5; !important"  class="table">
                <font color="black">
                    {% include "zahtevki/zahtevek/detail/header.html" %}
                </font>
            </table>
        </div>
    </div><!-- end panel -->

{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "zahtevki/zahtevek/detail/content.html" %}
{% include "zahtevki/zahtevek/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->