{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}

    <!-- SPLOŠNI UKAZI ZAHTEVKOV -->
    <li><a type="button" href="{% url 'moduli:zahtevki:zahtevek_update_main' object.pk %}"><b>Uredi</b> Podatke</a></li>
    <!-- Opravilo -->
    <li><a type="button" href="{% url 'moduli:zahtevki:opravilo_create' object.pk %}">
        <b>Dodaj</b> Opravilo</a>
    </li>
    <!-- Dokument -->
    <li>
        <a type="button" data-toggle="modal" data-target="#addDokumentacija">
        <b>Dodaj</b> Dokument</a>
    </li>
    <!-- Zaznamek -->
    <li>
        <a type="button" data-toggle="modal" data-target="#addZaznamek">
        <b>Dodaj</b> Zaznamek</a>
    </li>
    <!-- Podzahtevek -->
    <li>
        <a type="button" data-toggle="modal" data-target="#addPodzahtevek">
        <b>Dodaj</b> Podzahtevek</a>
    </li>


    
    <!-- DOGODEK -->
    <li>----------------------------------</li>
    <li>
        <a type="button" data-toggle="modal" data-target="#addDogodek">
        <b>Registriraj</b> Dogodek</a>
    </li>
    {% if object.dogodek %}
    <li>
        <a type="button" href="{% url 'moduli:zahtevki:dogodek_update_main' object.dogodek.pk %}">
        <b>Uredi</b> Dogodek</a>
    </li>
    {% endif %}


    <!-- IZVAJANJE PLANA -->
    <li>----------------------------------</li>
    <li>
        <a type="button" href="{% url 'moduli:zahtevki:opravilo_from_vzorec_create' object.pk %}">
        <b>Dodaj</b> Planirano Opravilo</a>
    </li> 



    <!-- LASTNINA -->
    <li>----------------------------------</li>
    <!-- Če je zahtevek Predaja Lastnine == 4
     if object.vrsta == 4  -->
    <li>
        <a type="button" href="{% url 'moduli:zahtevki:prodaja_lastnine_create' object.pk %}">
        <b>Dodaj</b> Prodajo LE</a>
    </li>

    <li>
        <a type="button" href="{% url 'moduli:zahtevki:najem_lastnine_create' object.pk %}">
        <b>Dodaj</b> Najem LE</a>
    </li> 
    <!-- endif  -->




    
    

{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}


    <div class="jumbotron">
        {{ object.naziv }} ({{object.oznaka}})
    </div><!-- end jumbotron -->

{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "zahtevki/zahtevek/detail/content.html" %}
{% include "zahtevki/zahtevek/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->