<!-- zahtevek detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel panel-default p-0">
            <div class="panel-body p-0"> 



                <!--nav-tabs-->              
                <ul class="nav nav-tabs profile-tabs">
                    <li class="active"><a data-toggle="tab" href="#podatki"><b>P</b>odatki</a></li>
                    <li><a data-toggle="tab" href="#opravila"><b>O</b>pravila</a></li>
                    <li><a data-toggle="tab" href="#dokumentacija"><b>D</b>okumentacija</a></li>
                    <li><a data-toggle="tab" href="#zaznamki"><b>Z</b>aznamki</a></li>
                    <li><a data-toggle="tab" href="#podzahtevki"><b>P</b>odzahtevki</a></li>

                    <li><a data-toggle="tab" href="#predaja_lastnine"><b>P</b>redaja Lastnine</a></li>
                    <li><a data-toggle="tab" href="#kljuci"><b>K</b>ljuci</a></li>
                    <li><a data-toggle="tab" href="#dogodki"><b>D</b>ogodki</a></li>


            
                </ul>
                <!--end nav-tabs-->



                <!--tab-content-->
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="podatki" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>PODATKI :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="opravila" class="tab-pane">
                        <div class="profile-desk">
                            <h1>OPRAVILA :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dokumentacija" class="tab-pane">
                        <div class="profile-desk">
                            <h1>DOKUMENTACIJA :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="zaznamki" class="tab-pane">
                        <div class="profile-desk">
                            <h1>ZAZNAMKI :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_04.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="podzahtevki" class="tab-pane">
                        <div class="profile-desk">
                            <h1>PODZAHTEVKI :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_05.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="predaja_lastnine" class="tab-pane">
                        <div class="profile-desk">
                            <h1>PREDAJA LASTNINE :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_06.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->

                    <!--tab******************************** -->
                    <div id="kljuci" class="tab-pane">
                        <div class="profile-desk">
                            <h1>KLJUCI :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_08.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->

                    <!--tab******************************** -->
                    <div id="dogodki" class="tab-pane">
                        <div class="profile-desk">
                            <h1>DOGODKI :</h1>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_07.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>