<!-- DOGODKI -->

<!-- Ko še ni registriranih vnosov -->
{% if not object.dogodek_set.all %}
    Zahtevek še nima registriranih dogodkov.

<!-- Ko vnosi že obstajajo -->
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                <th>ID</th>
                <th>DATUM</th>
                <th>OPIS</th>
                <th>STATUS</th>
                <th>EDIT</th>
            </tr>

        </thead>
        <tbody>

            {% for dogodek in object.dogodek_set.all %}

            <tr>
                <td><a href="{% url 'moduli:dogodki:dogodek_detail' dogodek.pk %}">{{ dogodek.pk }}</a></td>
                <td>{{ dogodek.datum_dogodka }}</td>
                <td>{{ dogodek.opis_dogodka }}</td>
                <td>{{ dogodek.get_status_display }}</td>
                <td><a type="button" href="{% url 'moduli:dogodki:dogodek_update_from_zahtevek' dogodek.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}
