<table class="table">


    <!--vrstica******************************** -->
    {% if object.model_artikla.P4_title %}
        <tr>
            <td><small><b>{{ object.model_artikla.P4_title }}</b></small></td>
            <td>{{ object.model_artikla.P4_value }}</td> 
        </tr>
    {% endif %}


    <!--vrstica******************************** -->
    {% if object.model_artikla.P5_title %}
        <tr>
            <td><small><b>{{ object.model_artikla.P5_title }}</b></small></td>
            <td>{{ object.model_artikla.P5_value }}</td> 
        </tr>
    {% endif %}


</table>