{% extends "account/base.html" %}


{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block content-body %}
    


<div class="dialog">
    <div class="panel">
        <div class="panel-heading no-collapse background_dark_grey">Prijava</div>
            <div class="panel-body background_grey">
                <form class="form-horizontal m-t-40 padding_side_20" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                    <div class="form-group">
                            <div class="col-xs-12">
                                {{ form.login | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-xs-12">
                                {{ form.password | as_crispy_field }}
                            </div>
                        </div>

                    <button class="btn btn_ukazi pull-right" type="submit">Vstopi</button>
                    <label class="remember-me"><input type="checkbox"> Zapomni si</label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    <p class="pull-right"><a href="reset-password.html">Ste pozabili geslo?</a></p>
</div>

{% endblock %}

