{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_right %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}

    <link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />

    <form id="create_form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}

        <div class="panel panel-{{ modul_zavihek.modul.barva }}">
            <div class="panel-heading">Podatki o dogodku</div>
            <div class="panel-body">
                {{ dogodek_create_form|crispy  }} 
            </div>
        </div>

        <input type="submit" value="Potrdi">






        

    </form>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<!--  Filter Nosilca Zahtevka glede na naročilo -->
<script src="{% static 'js/custom_filter.js' %}"></script>

<!-- js related to the application -->


{% endblock %}
<!-- end JAVASCRIPT EXTRA -->


