<!-- DOKUMENTI -->

<!-- Ko še ni registriranih vnosov -->
{% if not object.dnevnik_set.all %}
    V dobavi še ni Artiklov.

<!-- Ko vnosi že obstajajo -->
{% else %}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>količina</th>
                <th>cena</th>
                <th>ddv</th>
                <th>cena z ddv</th>
            </tr>

        {% for dnevnik in object.dnevnik_set.all %}

        <tr>
            <td>{{ dnevnik.artikel.oznaka }}</td>
            <td>{{ dnevnik.artikel.naziv }}</td>
            <td>{{ dnevnik.kom }}</td>
            <td>{{ dnevnik.cena }} EUR</td>
            <td>{{ dnevnik.stopnja_ddv }}</td>
            <td>{{ dnevnik.cena_z_ddv }}</td>
        </tr>

        {% endfor %}

    </table>
</div>

{% endif %}