<!-- NAVBAR LEFT - UKAZI -->


<!-- Splošni ukazi Delovnih nalogov -->
<li class="dropdown-header">Splošno</li>
<li><a href="" type="button"><b>Uredi</b> Podatke</a></li>
<li><a href="{% url 'moduli:arhiv:arhiviranje_create_from_delovninalog' object.pk %}" type="button"><b>Dodaj</b> Dokument</a></li>
<li><a href="{% url 'moduli:zaznamki:zaznamek_create_from_delovninalog' object.pk %}" type="button"><b>Dodaj</b> Zaznamek</a></li>
<li><a href="{% url 'moduli:kontrolni_list:kontrola_vrednost_create' object.pk %}" type="button"><b>Izdelaj</b> Kontrolni list</a></li>




<!-- Delo in Material -->

<!-- Pogoj kdaj naj se ukaz prikaže -->
{% if object.status == 2 or object.status == 3%}

<li class="divider"></li>
<li class="dropdown-header">Delo in Material</li>

        <li>
            <a href="{% url 'moduli:delovninalogi:delo_create_from_delovninalog' object.pk %}">
            <b>Dodaj</b> Delo</a>
        </li>

        <li>
            <a href="{% url 'moduli:skladisce:skladisce_dnevnik_create_from_delovninalog' object.pk %}">
            <b>Dodaj</b> Material</a>
        </li>

{% endif %}



<!-- Dodatni ukazi -->

<!-- Pogoj kdaj naj se ukaz prikaže -->
{% if object.status == 1 or object.status == 3 or object.status == 4 %}

<li class="divider"></li>
<li class="dropdown-header">Posebni ukazi</li>

    {% if object.status == 1 %}
    <li><a href="{% url 'moduli:delovninalogi:dn_update_vcakanju' object.id %}"><b>Planiraj</b> delo</a></li>
    {% endif %}

    {% if object.status == 3 %}
    <li><a href="{% url 'moduli:delovninalogi:dn_update_vresevanju' object.id %}">Zaključi</a></li>
    {% endif %}

    {% if object.status == 4 %}

<li>
    <form id="" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <input class="button_to_label" type="submit" value="Natisni delovni nalog">
    </form>
</li>





    {% endif %}

{% endif %}
