<!-- Sledenje Opravilom -->



<!-- ZAPADLA OPRAVILA -->
<text>Zapadla Opravila</text>
<table class="table table-condensed table-bordered table-striped">
    <thead>

        <tr>
            <th class="col-md-1">oznaka</th>
            <th class="col-md-3">naziv</th>
            <th class="col-md-1">perioda</th>
            <th class="col-md-2">Izvedeno dne</th>
            <th class="col-md-1">Datum naslednjega opravila</th>
            <th class="col-md-1">Naslednje opravilo [dni]</th>
        </tr>

    </thead>
    <tbody>

        {% for object in zapadla_opravila %}

        <tr class="danger">
            <td><a href="{% url 'moduli:planiranje:planirano_opravilo_detail' object.planirano_opravilo.pk %}">{{ object.planirano_opravilo.oznaka }}</a></td>
            <td>{{ object.planirano_opravilo.naziv }}</td>
            <td>{{ object.planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ object.planirano_opravilo.perioda_predpisana_enota }}</td>
            <td><a href="{% url 'moduli:delovninalogi:opravilo_detail' object.planirano_opravilo.id %}">{{ object.datum_izvedeno_dne }}-{{ object.oznaka }}</a></td>
            <td>{{ object.planirano_opravilo.datum_naslednjega_opravila }}</td>
            <td>{{ object.planirano_opravilo.do_naslednjega_opravila_dni }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>


<!-- NE-ZAPADLA OPRAVILA -->
<text>NE-Zapadla Opravila</text>
<table class="table table-condensed table-bordered table-striped">
    <thead>

        <tr>
            <th class="col-md-1">oznaka</th>
            <th class="col-md-3">naziv</th>
            <th class="col-md-1">perioda</th>
            <th class="col-md-2">Izvedeno dne</th>
            <th class="col-md-1">Datum naslednjega opravila</th>
            <th class="col-md-1">Naslednje opravilo [dni]</th>
        </tr>

    </thead>
    <tbody>

        {% for object in nezapadla_opravila %}

        {% if object.planirano_opravilo.zapade_14dni %}
        <tr class="warning">
        {% else %}
        <tr>
        {% endif %}
            <td><a href="{% url 'moduli:planiranje:planirano_opravilo_detail' object.planirano_opravilo.pk %}">{{ object.planirano_opravilo.oznaka }}</a></td>
            <td>{{ object.planirano_opravilo.naziv }}</td>
            <td>{{ object.planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ object.planirano_opravilo.perioda_predpisana_enota }}</td>
            <td>{{ object.planirano_opravilo.datum_izvedeno_dne }}|<a href="{% url 'moduli:delovninalogi:opravilo_detail' object.planirano_opravilo.id %}">{{ object.oznaka }}</a></td>
            <td>{{ object.planirano_opravilo.datum_naslednjega_opravila }}</td>
            <td>{{ object.planirano_opravilo.do_naslednjega_opravila_dni }}</td>

        </tr>

        {% endfor %}

    </tbody>
</table>

