<!-- Sledenje Opravilom -->



<!-- ZAPADLA OPRAVILA -->
<text>Zapadla Opravila</text>
<table class="table table-condensed table-bordered table-striped">
    <thead>

        <tr>
            <th>oznaka</th>
            <th>naziv</th>
            <th>perioda</th>
            <th>izvedeno dne</th>
            <th>opravilo</th>
        </tr>

    </thead>
    <tbody>

        {% for dn in dn_planirano_opravilo_zapadlo_list %}

        <tr>
            <td><a href="{% url 'moduli:planiranje:planirano_opravilo_detail' dn.opravilo.planirano_opravilo.pk %}">{{ dn.opravilo.planirano_opravilo.oznaka }}</a></td>
            <td>{{ dn.opravilo.planirano_opravilo.naziv }}</td>
            <td>{{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota }}</td>
            <td>{{ dn.opravilo.created }}</td>
            <td><a href="{% url 'moduli:delovninalogi:opravilo_detail' dn.opravilo.id %}">{{ dn.opravilo.oznaka }}</a></td>
        </tr>

        {% endfor %}

    </tbody>
</table>


<!-- NE-ZAPADLA OPRAVILA -->
<text>NE-Zapadla Opravila</text>
<table class="table table-condensed table-bordered table-striped">
    <thead>

        <tr>
            <th>oznaka</th>
            <th>naziv</th>
            <th>perioda</th>
            <th>izvedeno dne</th>
            <th>opravilo</th>
        </tr>

    </thead>
    <tbody>

        {% for dn in dn_planirano_opravilo_nezapadlo_list %}

        <tr>
            <td><a href="">{{ dn.opravilo.planirano_opravilo.oznaka }}</a></td>
            <td>{{ dn.opravilo.planirano_opravilo.naziv }}</td>
            <td>{{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota }}</td>
            <td>{{ dn.opravilo.created }}</td>
            <td><a href="{% url 'moduli:delovninalogi:opravilo_detail' dn.opravilo.id %}">{{ dn.opravilo.oznaka }}</a></td>
        </tr>

        {% endfor %}

    </tbody>
</table>

