{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content2 %}


 

<div class="container">

    <div class="jumbotron">
    <h1>SKLADISCE</h1>
    </div>
</div>


<div class="container">
    <div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <td><b><a href="{% url 'moduli:skladisce:dobava_list' %}">Dobave</a></b></td>
            </tr>
            <tr>
                <td><b><a href="{% url 'moduli:skladisce:dnevnik_list' %}">Dnevnik</a></b></td>
            </tr>

        </table>
    </div>
    </div>

{% endblock %}