<!-- zahtevek detail : NAVIGACIJA_MENU -->


<!--nav-tabs-->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab_dashboard"><b>D</b>ashboard</a></li>
    <li><a data-toggle="tab" href="#tab_obratovanje"><b>O</b>bratovanje</a></li>
    <li><a data-toggle="tab" href="#tab_vzdrzevanje"><b>V</b>zdrževanje</a></li>
    <li><a data-toggle="tab" href="#tab_servisnaknjiga"><b>S</b>ervisna Knjiga</a></li>
    <li><a data-toggle="tab" href="#tab_dokumentacija"><b>P</b>revzemna Dokumentacija</a></li>
</ul>
<!--end nav-tabs-->

<!--tab-content-->
<div class="tab-content">


    <!--tab******************************** -->
        <div id="tab_dashboard" class="tab-pane fade in active">
            {% include "deli/element/detail/navigacija_menu/tabs/tab_dashboard.html" %}  
        </div>


    <!--tab******************************** -->
        <div id="tab_obratovanje" class="tab-pane fade">
            {% include "deli/element/detail/navigacija_menu/tabs/tab_obratovanje.html" %}  
        </div>


    <!--tab******************************** -->
        <div id="tab_vzdrzevanje" class="tab-pane fade">
            {% include "deli/element/detail/navigacija_menu/tabs/tab_vzdrzevanje.html" %}
        </div>


    <!--tab******************************** -->
        <div id="tab_servisnaknjiga" class="tab-pane fade">
            {% include "deli/element/detail/navigacija_menu/tabs/tab_servisnaknjiga.html" %}
        </div>


    <!--tab******************************** -->
        <div id="tab_dokumentacija" class="tab-pane fade">
            {% include "deli/element/detail/navigacija_menu/tabs/tab_dokumentacija.html" %}
        </div>


</div>
<!--end tab-content-->

