{% extends "posta/dokument/detail/navigacija_menu/tabs/tab_base.html" %} 
{% load crispy_forms_tags %}


<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block detail_tab_title %}DASHBOARD{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block detail_tab_controler_left %}

        {% if object.vrsta_dokumenta.skupina.id == 1 %} <!-- RAČUNOVODSKA DOKUMENTACIJA-->
        <li><a href="{% url 'moduli:racunovodstvo:home' %}">Računovodska dokumentacija se lahko arhivira samo v modulu "RAČUNOVODSTVO"</a></li>
        {% else %}
        <li><a href="" data-toggle="modal" data-target="#addArhiviraj">Arhiviraj</a></li>
        {% endif %}
        

        

    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block detail_tab_controler_right %}


    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->





<!-- CONTENT################################################### -->

    {% block detail_tab_content %}

<!-- Modal ADD TRR-->
        <div class="modal fade" id="addArhiviraj" tabindex="-1" role="dialog" aria-labelledby="addArhiviraj">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Arhiviraj Dokument</h4>
                    </div>


                    <form action="" method="POST">{% csrf_token %}
                        <div class="modal-body">
                            {{ arhiviranje_form | crispy  }}   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                            <button type="submit" class="btn btn-primary">Shrani</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}
    
<!-- end CONTENT -->



