{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}

<!-- CSS Okvirčki za vnos podatkov, ki jih ne želimo prikazati -->
<link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />


<form id="create_form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}


    <div class="panel">
        <div class="panel-heading">Podatki o opravilu</div>
        <div class="panel-body">

            {{ opravilo_create_form|crispy  }} 

        </div>
    </div>


    <div class="panel panel-{{ modul_zavihek.modul.barva }}">
        <div class="panel-heading">Pomanjkljivosti, ki se odpravljajo v opravilu</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <select name="from[]" id="search1" class="form-control" size="8" multiple="multiple">

                        {% for pomanjkljivost in object.pomanjkljivost_set.all %}

                        <option value="{{ pomanjkljivost.pk }}">({{ pomanjkljivost.oznaka }}) {{ pomanjkljivost.naziv }}</option>

                        {% endfor %}

                    </select>
                </div>
                
                <div class="col-xs-2">
                    <button type="button" id="search1_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="search1_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="search1_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="search1_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>
                
                <div class="col-xs-5">
                    <select name="pomanjkljivost" id="search1_to" class="form-control" size="8" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Potrdi">


    <!-- filtriranje pri izbiri projektnega mesta -->
    <div id="reload_controls_narocilo_osebe_view" style="display: none;">{% url 'moduli:narocila:reload_controls_narocilo_osebe' %}</div>

    <div id="reload_controls_element_podskupina_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_podskupina' %}</div>

    <div id="reload_controls_element_del_stavbe_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_del_stavbe' %}</div>

    <div id="reload_controls_element_element_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_element' %}</div>




        

    </form>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<script src="{% static 'js/custom_filter.js' %}"></script>



    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#search1').multiselect({
            search: {
                left: '<input type="text" name="q2" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q2" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 0;
            }
        });
    });
    </script>

<!-- Here ADMIN_MEDIA_PREFIX is path to django admin media -->

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->


