{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT ######################################-->
{% block content %}

<!-- CSS Okvirčki za vnos podatkov, ki jih ne želimo prikazati -->
<link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />

<!-- _______________________________________________________-->
<form id="create_form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}

    <!-- _______________________________________________________-->
    <div class="panel">
        <div class="panel-heading">Podatki o opravilu</div>
        <div class="panel-body">
            {{ opravilo_create_form|crispy  }} 
        </div>
    </div>

    <!-- _______________________________________________________-->
    <div class="panel panel-{{ modul_zavihek.modul.barva }}">
        <div class="panel-heading">Elementi na katerih se opravilo izvaja (servisna knjiga)</div>
        <div class="panel-body">
            {{ element_izbira_form | crispy  }} 
            {{ opravilo_element_update_form | crispy  }}   
        </div>
    </div>

    
    <!-- _______________________________________________________-->
    <!-- Form command panel -->
    <input type="submit" value="Potrdi">



    <!-- _______________________________________________________-->
    <!-- Filtriranje - Java Script -->

    <!-- Ko izbereš naročilo opravila filtrira nosilce opravila -->
    <div id="reload_controls_narocilo_osebe_view" style="display: none;">
        {% url 'moduli:narocila:reload_controls_narocilo_osebe' %}</div>

</form>


{% endblock %}
<!-- end PAGE CONTENT ######################################-->



<!-- JAVASCRIPT EXTRA ######################################-->
{% block javascript_extra %}

<script src="{% static 'js/custom_filter.js' %}"></script>


<script>
    
    // disable nepotrebne dropdown menuje
    $("#id_nosilec").attr('disabled', true);
    $("#id_nosilec").empty()


    $('#create_form').on('change', '#id_narocilo', function()
    {
        reload_controls5(this.value);
    });

    function reload_controls5(narocilo)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_narocilo_osebe_view").text(),
            dataType: 'json',
            data: "narocilo="+narocilo,
            success: function(result)
            {
                //empty nosilec drop down list
                $("#id_nosilec").empty()
                $("#id_nosilec").attr('disabled', false);

                //add entries to drop down list
                $("#id_nosilec").append('<option value="">---------</option>')
                $.each( result.list_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    nosilec=$("#id_oseba_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_nosilec').append('<option value="'+value+'">'+nosilec+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>



{% endblock %}
<!-- end JAVASCRIPT EXTRA -->


