{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}

<!-- CSS Okvirčki za vnos podatkov, ki jih ne želimo prikazati -->
<link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />


<form id="create_form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}


    <div class="panel">
        <div class="panel-heading">Podatki o opravilu</div>
        <div class="panel-body">

            {{ opravilo_create_form|crispy  }} 

        </div>
    </div>

    <div class="panel panel-{{ modul_zavihek.modul.barva }}">
        <div class="panel-heading">Elementi na katerih se opravilo izvaja (servisna knjiga)</div>
        <div class="panel-body">

            {{ element_izbira_form | crispy  }} 

            <div class="row">
                <div class="col-xs-5">
                    <select name="from[]" id="search" class="form-control" size="8" multiple="multiple"></select>
                </div>
                        
                <div class="col-xs-2">
                    <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>
                    
                <div class="col-xs-5">
                    <select name="element" id="search_to" class="form-control" size="8" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-{{ modul_zavihek.modul.barva }}">
        <div class="panel-heading">Pomanjkljivosti, ki se odpravljajo v opravilu</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <select name="from[]" id="search1" class="form-control" size="8" multiple="multiple">

                        {% for pomanjkljivost in opravilo_pomanjkljivost_update_form.fields.pomanjkljivost.queryset %}

                        <option value="{{ pomanjkljivost.pk }}">({{ pomanjkljivost.oznaka }}) {{ pomanjkljivost.naziv }}</option>

                        {% endfor %}

                    </select>
                </div>
                
                <div class="col-xs-2">
                    <button type="button" id="search1_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="search1_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="search1_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="search1_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>
                
                <div class="col-xs-5">
                    <select name="pomanjkljivost" id="search1_to" class="form-control" size="8" multiple="multiple"></select>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Potrdi">


    <!-- filtriranje pri izbiri projektnega mesta -->
    <div id="reload_controls_narocilo_osebe_view" style="display: none;">{% url 'moduli:narocila:reload_controls_narocilo_osebe' %}</div>

    <div id="reload_controls_element_podskupina_view" style="display: none;">{% url 'moduli:delovninalogi:reload_controls_element_podskupina' %}</div>

    <div id="reload_controls_element_del_stavbe_view" style="display: none;">{% url 'moduli:delovninalogi:reload_controls_element_del_stavbe' %}</div>

    <div id="reload_controls_element_element_view" style="display: none;">{% url 'moduli:delovninalogi:reload_controls_element_element' %}</div>




        

    </form>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<script src="{% static 'js/custom_filter.js' %}"></script>


<!-- js related to the application -->
<script>
    
    // disable nepotrebne dropdown menuje
    $("#id_nosilec").attr('disabled', true);
    $("#id_nosilec").empty()


    $('#create_form').on('change', '#id_narocilo', function()
    {
        reload_controls5(this.value);
    });

    function reload_controls5(narocilo)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_narocilo_osebe_view").text(),
            dataType: 'json',
            data: "narocilo="+narocilo,
            success: function(result)
            {
                //empty month drop down list
                $("#id_nosilec").empty()
                $("#id_nosilec").attr('disabled', false);

                //NOSILCI FILTER
                $("#id_nosilec").append('<option value="">---------</option>')
                $.each( result.list_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    nosilec=$("#id_oseba_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_nosilec').append('<option value="'+value+'">'+nosilec+'</option>')

                });



            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>


<!-- ELEMENT PODSKUPINA FILTER -->
<script>
    // disable nepotrebne dropdown menuje
    $("#id_podskupina").attr('disabled', true);
    $("#id_del_stavbe").attr('disabled', true);
    $("#search").attr('disabled', true);
    $("#id_podskupina").empty()
    $("#id_del_stavbe").empty()   
    $("#search").empty()
    $("#search_to").empty() 
 

    // ob spremembi dropdown skupine
    $('#create_form').on('change', '#id_skupina', function()
    {
        reload_controls1(this.value);
        
    });

    function reload_controls1(skupina)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_podskupina_view").text(),
            dataType: 'json',
            data: "skupina="+skupina,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#id_podskupina").empty()
                $("#id_del_stavbe").empty()
                $("#search").empty()   


                // disable nepotrebne dropdown menuje
                $("#id_podskupina").attr('disabled', false);
                $("#id_del_stavbe").attr('disabled', true);
                $("#search").attr('disabled', true);

                //PODSKUPINA FILTER
                $("#id_podskupina").append('<option value="">---------</option>')
                $.each( result.podskupine_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_podskupina_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_podskupina').append('<option value="'+value+'">'+parameter+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>

<!-- ELEMENT DEL STAVBE FILTER -->
<script>
    
    $('#create_form').on('change', '#id_podskupina', function()
    {
        reload_controls2(this.value);
    });

    function reload_controls2(podskupina)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_del_stavbe_view").text(),
            dataType: 'json',
            data: "podskupina="+podskupina,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#id_del_stavbe").empty()
                $("#search").empty()

                // disable nepotrebne dropdown menuje
                $("#id_del_stavbe").attr('disabled', false);
                $("#search").attr('disabled', true);

                //PODSKUPINA FILTER
                $("#id_del_stavbe").append('<option value="">---------</option>')
                $.each( result.del_stavbe_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_del_stavbe_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_del_stavbe').append('<option value="'+value+'">'+parameter+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>


<!-- ELEMENT FILTER -->
<script>
    
    $('#create_form').on('change', '#id_del_stavbe', function()
    {
        reload_controls3(this.value);
    });

    function reload_controls3(del_stavbe)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_element_view").text(),
            dataType: 'json',
            data: "del_stavbe="+del_stavbe,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#search").empty()    

                // disable nepotrebne dropdown menuje
                $("#search").attr('disabled', false);

                //PODSKUPINA FILTER
                $.each( result.element_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_element_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#search').append('<option value="'+value+'">'+parameter+'</option>')


                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>


    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#search').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 0;
            }
        });
    });
    </script>

    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#search1').multiselect({
            search: {
                left: '<input type="text" name="q2" class="form-control" placeholder="Search..." />',
                right: '<input type="text" name="q2" class="form-control" placeholder="Search..." />',
            },
            fireSearch: function(value) {
                return value.length > 0;
            }
        });
    });
    </script>

<!-- Here ADMIN_MEDIA_PREFIX is path to django admin media -->

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->


