{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content2 %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:home' %}">Nazaj</a>
    </i></small>

<div class="jumbotron">
    <h1>Pošta</h1>
</div>

    <div class="table-condensed table-hover table-bordered">
        <table class="table">

            <tr>
                <td><b><a href="{% url 'moduli:posta:dokument_create' %}">Dodaj Novo Pošto</a></b></td>
            </tr>
            <tr>
                <td><b><a href="{% url 'moduli:posta:dokument_arhiviranje_list' %}">Za Arhiviranje</a></b></td>
            </tr>
            <tr>
                <td><b><a href="">Likvidirana/Arhivirana Pošta</a></b></td>
            </tr>
            
        </table>
    </div>



{% endblock %}