<!-- SideBar znotraj zavihka-->



    <!-- Naziv Modula + Link -->
    <li>
        <a style="background:{{ modul_zavihek.modul.barva }}; opacity:1; !important" href="{% url 'moduli:detail' modul_zavihek.modul.pk %}">
            <i class="ion-home"></i>
            <span class="nav-label">{{ modul_zavihek.modul.naziv }}</span>
        </a>
    </li><!-- end Naziv Modula + Link -->



    <!-- Zavihki -->
    {% for zavihek in modul_zavihek.modul.zavihek_set.all %}

        <!-- Povezavo prikaži samo v primeru, da ima zavihek vpisan url -->
        {% if zavihek.url_ref %}
        <li><a href="{{ zavihek.urlreference }}">{{ zavihek.naziv }}</a></li>
        {% endif %}

    {% endfor %}<!-- end Zavihki -->


    <!-- LOGIČNE POVEZAVE -->
    {% for zavihek in modul_zavihek.parent.all %}


    <li>
        <a style="background:{{ zavihek.modul.barva }}; opacity:1; !important" href="{% url 'moduli:detail' zavihek.modul.pk %}">
            <i class="ion-home"></i>
            <span class="nav-label">{{ zavihek.modul.naziv }}</span>
        </a>
    </li><!-- end Naziv Modula + Link -->


        <li><a href="{{ zavihek.urlreference }}">{{ zavihek.naziv }}</a></li>



    {% endfor %}


