{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}



{% block content %}<!-- vsebina modula -->

    <!-- napis modula -->
    <div class="bg-{{ object.barva }}"><h3>{{ object.naziv }}</h3></div>



    <div class="container">



        <!-- seznam zavihkov -->
        <table class="table">
            {% for zavihek in object.zavihek_set.all %}

            <tr>
                <td><h3><a href="{{ zavihek.urlreference }}" >{{ zavihek.naziv }}</a></h3></td>
            </tr>
            
            {% endfor %}
        </table><!-- end seznam zavihkov -->



    </div><!-- end container -->

{% endblock %}<!-- END vsebina modula -->



{% block navbar %}<!-- sidebar -->

    <li>
        <a href="{% url 'moduli:home' %}"><i class="ion-home"></i>
            <span class="nav-label">Moduli</span>
        </a>
    </li>
    
{% endblock %}<!-- END sidebar -->




{% block javascript_extra %}{% endblock %}


