{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_nav %}

    <div class="m-b">
      <nav class="navbar navbar-default navbar-static-top bg-inverse">
        <div class="container">     
          <button type="button" class="navbar-toggler hidden-sm-up pull-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
          
            <nav class="nav navbar-nav">

            <!-- TU REGISTRIRAJ MODULE -->
              <a class="nav-link nav-item" href="{% url 'moduli:partnerji:home' %}">Partnerji</a>
              <a class="nav-link nav-item" href="{% url 'moduli:posta:home' %}">Prejeta-Pošta</a>
              <a class="nav-link nav-item" href="{% url 'moduli:racunovodstvo:home' %}">Računovodstvo</a>
              <a class="nav-link nav-item" href="{% url 'moduli:razdelilnik:home' %}">Razdelilnik</a>

            </nav>
          </div>
        </div>
      </nav>
    </div>
{% endblock extra_nav %}

{% block content %}


<div class="container">



                <h1>MODULI</h1>


            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:partnerji:home' %}" class="thumbnail" />
                        <img src="{% static 'images/moduli/M1.png' %}" alt="great image" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:posta:home' %}" class="thumbnail" />
                        <img src="{% static 'images/moduli/M2.png' %}" alt="great image" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:racunovodstvo:home' %}" class="thumbnail" />
                        <img src="{% static 'images/moduli/M3.png' %}" alt="great image" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:razdelilnik:home' %}" class="thumbnail" />
                        <img src="{% static 'images/moduli/M4.png' %}" alt="great image" class="img-thumbnail">
                </div>
            </div>
            



</div>

    </div>

{% endblock %}