{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_nav %}


        <nav class="navbar navbar-inverse">
        <div class="container">
         


          <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="nav navbar-nav">
              <a class="navbar-brand" href="{% url 'moduli:partnerji:home' %}">Partnerji</a>
              <a class="navbar-brand" href="{% url 'moduli:posta:home' %}">Prejeta-Pošta</a>
              <a class="navbar-brand" href="{% url 'moduli:racunovodstvo:home' %}">Računovodstvo</a>
              <a class="navbar-brand" href="{% url 'moduli:razdelilnik:home' %}">Razdelilnik</a>
              <a class="navbar-brand" href="">Etažna Lastnina</a>
              <a class="navbar-brand" href="{% url 'moduli:deli:home' %}">Deli</a>

            </nav>
            </div>
            </nav>
{% endblock extra_nav %}

{% block content %}


<div class="container">

            <h1>MODULI</h1>

            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:partnerji:home' %}" />
                        <img src="{% static 'images/moduli/M1.png' %}" alt="Partnerji" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:posta:home' %}" />
                        <img src="{% static 'images/moduli/M2.png' %}" alt="Prejeta Pošta" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:racunovodstvo:home' %}"/>
                        <img src="{% static 'images/moduli/M3.png' %}" alt="Računovodstvo" class="img-thumbnail">
                </div>
                <div class="col-xs-3 col-md-3">
                    <a href="{% url 'moduli:razdelilnik:home' %}"/>
                        <img src="{% static 'images/moduli/M4.png' %}" alt="Razdelilnik" class="img-thumbnail">
                </div>

            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3">
                    <a href=""  />
                        <img src="{% static 'images/moduli/M5.png' %}" alt="Etažna Lastnina" class="img-thumbnail">
                </div>
            </div>

            
                


</div>

    </div>

{% endblock %}