{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_nav %}

<div class="row">
<nav class="navbar navbar" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>    
        </div>

        <a href="#menu-toggle" id="menu-toggle" class="btn btn-default navbar-brand transparent">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'moduli:home' %}" id="moduli">Osnovni meni</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--desno pozicioniran element-->
            </ul>
        </div>

</nav>
</div>

{% endblock extra_nav %}



{% block content %}


<!--wrapper-->
<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="sidebar-nav">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h4>
                        Moduli
                    </h4>
                </li>
                <li>
                    <a href="{% url 'moduli:deli:home' %}">Deli</a>
                </li>
                <li>
                    <a href="{% url 'moduli:delovninalogi:home' %}">Delovni-Nalogi</a>
                </li>
                <li>
                    <a href="">Etažna Lastnina</a>
                </li>
                <li>
                    <a href="{% url 'moduli:partnerji:home' %}">Partnerji</a>
                </li>
                <li>
                    <a href="{% url 'moduli:posta:home' %}">Prejeta-Pošta</a>
                </li>
                <li>
                    <a href="{% url 'moduli:racunovodstvo:home' %}">Računovodstvo</a>
                </li>
                <li>
                    <a href="{% url 'moduli:razdelilnik:home' %}">Razdelilnik</a>
                </li>
                <li>
                    <a href="{% url 'moduli:stevci:home' %}">Stevci</a>
                </li>
                <li>
                    <a href="{% url 'moduli:zahtevki:home' %}">Zahtevki</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        

        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% block content2 %}
            <div class="container">
                <li>
                    <a href="{% url 'moduli:deli:home' %}">Deli</a>
                </li>
                <li>
                    <a href="{% url 'moduli:delovninalogi:home' %}">Delovni-Nalogi</a>
                </li>
                <li>
                    <a href="">Etažna Lastnina</a>
                </li>
                <li>
                    <a href="{% url 'moduli:partnerji:home' %}">Partnerji</a>
                </li>
                <li>
                    <a href="{% url 'moduli:posta:home' %}">Prejeta-Pošta</a>
                </li>
                <li>
                    <a href="{% url 'moduli:racunovodstvo:home' %}">Računovodstvo</a>
                </li>
                <li>
                    <a href="{% url 'moduli:razdelilnik:home' %}">Razdelilnik</a>
                </li>
                <li>
                    <a href="{% url 'moduli:stevci:home' %}">Stevci</a>
                </li>
                <li>
                    <a href="{% url 'moduli:zahtevki:home' %}">Zahtevki</a>
                </li>
            </div>



            {% endblock content2 %}
        </div>
        <!-- /#page-content-wrapper -->
        

</div>
<!-- /#wrapper -->
    

            
<!--END WRAPPER-->              


</div>

    </div>

{% endblock %}

    {% block javascript_extra %}       
    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->

    <!-- Menu Toggle Script -->
 <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script> 
    {% endblock javascript_extra %}