{% extends "zahtevki/zahtevek/detail/navigacija_menu/tabs/tab_base.html" %} 


<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block detail_tab_title %}DASHBOARD{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block detail_tab_controler_left %}



        <!-- V ČAKANJU -->
        {% if object.status == 1 %}
        <li><a align="center" href="{% url 'moduli:delovninalogi:dn_update_vcakanju' object.id %}">Planiraj</a></li>
        {% endif %}

        
        {% if object.status == 3 %}
        <li><a align="center" href="{% url 'moduli:delovninalogi:dn_update_vresevanju' object.id %}">Zaključi</a></li>
        {% endif %}

        <!-- ZAKLJUČENO -->
        {% if object.status == 4 %}
        <li><a align="center" href="">Natisni Delovni Nalog</a></li>
        {% endif %}


    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block detail_tab_controler_right %}


        


        



    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->





<!-- CONTENT################################################### -->

    {% block detail_tab_content %}
    {% endblock %}
    
<!-- end CONTENT -->



