{% extends "delovninalogi/delovninalog/detail/navigacija_menu/tabs/tab_base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block detail_tab_title %}KONČANA DELA{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block detail_tab_controler_left %}
    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block detail_tab_controler_right %}

    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->


<!-- CONTENT################################################### -->

    {% block detail_tab_content %}

        <table class="table table-hover table-condensed">
        <tr>
            <th>datum</th>
            <th>začetek</th>
            <th>konec</th>
            <th>porabljen čas</th>
            <th>delavec</th>
            <th>vrsta_dela</th>
        </tr>

    {% for delo in object.delo_set.koncana_dela %}


    <tr>
    
        <td>{{ delo.datum }}</td>
        <td>{{ delo.time_start }}</td>
        <td>{{ delo.time_stop }}</td>
        <td>{{ delo.porabljen_cas }}</td>
        <td>{{ delo.delavec.priimek }} ({{ delo.delavec.ime }})</td>
        <td>{{ delo.vrsta_dela.naziv }}<br> (<b>{{ delo.vrsta_dela.oznaka }}</b>)</td>

    </tr>

    {% endfor %}

    </table>
        

        
    {% endblock %}

<!-- end CONTENT -->


