
<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#podatki"><b>P</b>odatki</a></li>
                    <li><a data-toggle="tab" href="#obratovanje"><b>O</b>bratovanje</a></li>
                    <li><a data-toggle="tab" href="#vzdrzevanje"><b>V</b>zdrževanje</a></li>
                    <li><a data-toggle="tab" href="#servisna_knjiga"><b>S</b>ervisna Knjiga</a></li>
                    <li><a data-toggle="tab" href="#dokumentacija"><b>D</b>okumentacija</a></li>
                </ul>
            </div>

            <div class="panel-body" > 
                <div class="tab-content"> 

                    <!--tab******************************** -->
                    <div id="podatki" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "deli/element/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="obratovanje" class="tab-pane">
                        <div class="profile-desk">
                            {% include "deli/element/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="vzdrzevanje" class="tab-pane">
                        <div class="profile-desk">
                            {% include "deli/element/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="servisna_knjiga" class="tab-pane">
                        <div class="profile-desk">
                            {% include "deli/element/detail/tabs/tab_04.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dokumentacija" class="tab-pane">
                        <div class="profile-desk">
                            {% include "deli/element/detail/tabs/tab_05.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                </div>
            </div>
            
        </div>
    </div>
</div>