
{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_right %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}

    <link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />

    <form id="del_form" method="POST", action="{% url 'moduli:deli:del_create' %}" enctype="multipart/form-data">{% csrf_token %}

        {{ skupina_izbira_form | crispy }}
        {{ form | crispy }}

        <input type="submit" value="Potrdi">

        <div id="filter_skupina_podskupina" style="display: none;">{% url 'moduli:deli:filter_skupina_podskupina' %}</div>

    </form>


{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<script src="{% static 'js/custom_filter.js' %}"></script>

<!-- js related to the application -->
<script>
    
    // FILTER PODSKUPINE DELOV GLEDE NA IZBRANO SKUPINO
    $('#del_form').on('change', '#id_skupina', function()
    {
        reload_controls(this.value);
    });

    function reload_controls(skupina)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#filter_skupina_podskupina").text(),
            dataType: 'json',
            data: "skupina="+skupina,
            success: function(result)
            {
                //empty month drop down list
                $("#id_podskupina").empty()

                //add months with no report
                $("#id_podskupina").append('<option value="">---------</option>')
                $.each( result.podskupine_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    podskupina=$("#id_podskupina_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_podskupina').append('<option value="'+value+'">'+podskupina+'</option>')

                });
            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->