<!--tab******************************** -->
<div id="sledenje" class="tab-pane active">
    <div class="profile-desk">
        {% include "planiranje/plan/detail/200_content/tabs/tab_01.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="opravila" class="tab-pane">
    <div class="profile-desk">
        {% include "planiranje/plan/detail/200_content/tabs/tab_02.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="izvedena_opravila" class="tab-pane">
    <div class="profile-desk">
        {% include "planiranje/plan/detail/200_content/tabs/tab_03.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->