{% extends "porocanjeupravnika/home.html" %}
{% load staticfiles i18n %}

{% block content %}


<div class="container">
<div class="jumbotron">
<h1>Lastniška enota<br>
<b>{{ object.oznaka }}</b> {{ object.naziv }}
</h1>
</div>
<h3>Osnovni podatki</h3>
Oznaka po Elaboratu: {{ object.elaborat.oznaka }}<br>
Oznaka EDAFM : {{ object.oznaka }}<br><br>
<h3>Lastništvo:</h3>
Lastnik: {{ object.lastnik.kratko_ime }}<br>
Najemnik: {{ object.najemnik.kratko_ime }}<br>
Plačnik: {{ object.placnik.kratko_ime }}<br><br>
<h3>Delilniki:</h3>
Latniški Delež na Skupnih delih: {{ object.lastniski_delez }}<br>
Površina: {{ object.povrsina_tlorisna_neto }} m2<br>
Število Oseb: {{ object.st_oseb }}<br><br>
<h3>Deli v Solasti:</h3>



{% for lastniska_skupina in object.lastniskaskupina_set.all %}

        {% for del in lastniska_skupina.delstavbe_set.all %}
        {{ del.podskupina.oznaka }}{{ del.podskupina.naziv }}

        <ul><a href="{% url 'moduli:deli:del_detail' del.id %}">{{ del.oznaka }} {{ del.naziv }}</a></ul>

        {% endfor %}

{% endfor %}





</div>


{% endblock %}