


.navbar-eda5 {
  z-index: 1000;
  border-width: 0 0 1px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.navbar-eda5-logo-pozicija {
    margin-top: -15px !important; //if the logo has a 70px height.
  }

/* z index je manjši da ga zgornji meni lahko prekrije */
.navbar-moduli {
  z-index: 999;
  background: #121459;
  border-width: 0 0 1px;
  margin-bottom: 0px;
}

.navbar_title {
  z-index: 999;
  background: #fff;
  border-width: 0 0 1px;
}

.background_grey {
  background: #f2f2f2;
}

.background_dark_grey {
  background: #4b4b4b;
  color: #fff;
  font-weight: bold;
}

.background_dark_grey ul > li > a {
  background: #4b4b4b;
  color: #fff;
  font-weight: bold;
}

.btn_ukazi {
  background: #4b4b4b;
  color: #fff;
  font-weight: bold;
  padding: 5px 30px 5px 30px;
}

.background_dark_grey_header {
  background: #4b4b4b;
  color: rgb(255, 217, 102);
  font-weight: bold;
}

.background_yellow {
  background: #fcf8e3;
  color: #8a6d3b;
}

.no_padding {
  padding: 0 0 0 0;
}

.no_left_padding {
  padding-left: 0;

}

.nav-pills > li {
  width: 19.7%;
  text-align: right;
}

.nav-pills > li > a {
  text-align: center;
}


.text_white {
  color: #fff;
}

.table_bottom_border {
  border-top: 5px solid;
  border-bottom: 3px solid;
}

.table_top_border_dashed {
  border-top: 2px dashed;
}

.table_border_light {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

.height_100 {
  height: 100px;
}

.height_200 {
  height: 200px;
}

.sidebar_add {
  font-size: 50%;
}





.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: rgb(255, 217, 102);
  background-color: #4b4b4b;
  outline: none;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: rgb(255, 217, 102);
  background-color: #4b4b4b;
  outline: none;
}

.nav {
  color: #fff;
}


.prikazovalnik {
  height: 70px;
  padding: 0 0 0 0;
  text-align: right;
}

ul.text_white > a {
  color: #fff;
}


.text_black_bold ul > li > a,
.text_black_bold {
  color: #000;
  font-weight: bold;
}

.text_red_bold {
  color: red;
  font-weight: bold;
}



.panel_shadow {
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid;
  border-color: #121459
}


.moduli_title_text {
  color: #121459;
  font-weight: bold;
}

.moduli_body_text {
  color: #000;
}


.padding_top_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding_side_20 {
  padding-left: 20px;
  padding-right: 20px;
}

.border_hairline_grey {
  border: 1px solid;
  border-color: #989898;
}


.min_height_800 {
  min-height: 800px;

}

.button_to_label {
    background:rgba(0,0,0,0);
    border:none;
    color: #000;
}