{% extends "zahtevki/zahtevek/detail/navigacija_menu/tabs/tab_base.html" %} 


<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block zahtevek_detail_tab_title %}ZAZNAMKI{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block zahtevek_detail_tab_controler_left %}
    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block zahtevek_detail_tab_controler_right %}
    
    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->


<!-- CONTENT################################################### -->

    {% block zahtevek_detail_tab_content %}
    {% endblock %}
    
<!-- end CONTENT -->



