
<!--tab******************************** -->
<div id="neobdelane" class="tab-pane active">
    <div class="profile-desk">
        {% include "naloge/naloga/list/200_content/tabs/tab_01.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="vresevanju" class="tab-pane">
    <div class="profile-desk">
        {% include "naloge/naloga/list/200_content/tabs/tab_02.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="zakljucene" class="tab-pane">
    <div class="profile-desk">
        {% include "naloge/naloga/list/200_content/tabs/tab_03.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->