
<div class="col-sm-12">
<table class="table table-bordered">
<thead>
    <tr>
        <th>Predmet Povpraševanje</th>
    </tr>
</thead>
<tbody>
    <tr>
        <th>Postavke</th>
    </tr>

    {% for postavka in postavka_list %}
    <tr>
        <td>
        <b>{{ postavka.oznaka }} <a href="{% url 'moduli:povprasevanje:postavka_update' postavka.pk %}"> Edit</a></b><br>
        {{ postavka.opis }}<br>
        {% for priloga in postavka.priloge.all %}
        - <a href="href={{ MEDIA_URL }}{{ priloga.dokument.priponka }}">{{ priloga.dokument.oznaka }}</a> | {{ priloga.dokument.naziv }}<br>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}

    <tr>
        <th>Priloge</th>
    </tr>

    {% for priloga in object.priloge.all %}
    <tr>
        <td><a href="href={{ MEDIA_URL }}{{ priloga.dokument.priponka }}">{{ priloga.dokument.oznaka }}</a> | {{ priloga.dokument.naziv }}</td>
    </tr>
    {% endfor %}

    <tr>
        <th>Ponudbe</th>
    </tr>


</tbody>
</table>
</div>

{% for ponudba in ponudba_list %}
<div class="col-sm-4">
<table class="table table-bordered">
<thead>
    <col style="width:40%">
    <col style="width:60%">



    <tr class="info">
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Oznaka ponudbe</text><br>
        {{ponudba.oznaka}} <a href="{% url 'moduli:povprasevanje:ponudba_update' ponudba.pk %}">Edit</a> <a href="{% url 'moduli:povprasevanje:ponudbapopostavki_create_from_povprasevanje' ponudba.pk %}"> | Dodaj postavko</a></th>
    </tr>
    <tr class="info">
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Ponudnik</text><br>
        {{ponudba.ponudnik.kratko_ime}}</th>
    </tr>
    <tr class="info">
        {% if ponudba.ponudba_dokument %}
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Dokument</text><br><a href="{{ MEDIA_URL }}{{ ponudba.ponudba_dokument.dokument.priponka }}">{{ponudba.ponudba_dokument.dokument.oznaka}}</a></th>
        {% else %}
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Dokument</text><br>/</th>
        {% endif %}
    </tr>
    
</thead>
<tbody>
    <tr class="warning">
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Vrednost po postavkah</text>
        </th>
    </tr>
    <tr class="warning">
        <td>št. postavke</td>
        <td>Vrednost postavke [EUR]</td>
    </tr>

    {% for ponudbapopostavki in ponudba.ponudbapopostavki_set.all|dictsort:"postavka.oznaka" %}
    
    <tr class="warning">
        <td>{{ ponudbapopostavki.postavka.oznaka }}
        <a href="{% url 'moduli:povprasevanje:ponudbapopostavki_update' ponudbapopostavki.pk %}">Edit</a>
        </td>
        {% if ponudbapopostavki.vrednost_za_izracun %}
        <td>{{ponudbapopostavki.vrednost_za_izracun}}</td>
        {% else %}
        <td>{{ponudbapopostavki.vrednost_opis}}</td>
        {% endif %}

    </tr>
    {% endfor %}
    <tr class="warning">
        <td>SKUPAJ</td>
        <td><b>{{ponudba.skupaj_cena}}</b></td>
    </tr>


    <tr class="warning">
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Garancijski pogoji</text>
        </th>
    </tr>
    <tr class="warning">
         <td colspan="2">{{ ponudba.garancija }}</td>
    </tr>

    <tr class="warning">
        <th colspan="2"><text style="font-size: 10px; color: #abc;">Reference</text>
        </th>
    </tr>
    <tr class="warning">
        <td colspan="2">
        {{ ponudba.referenca_opis }}<br>
        {% if ponudba.referenca_dokument %}
        <a href="{{ MEDIA_URL }}{{ ponudba.ponudba_dokument.dokument.priponka }}">{{ponudba.referenca_dokument.dokument.oznaka}}</a>
        {% endif %}
        </td>
    </tr>
        

</tbody>
</table>

</div>
<br>
{% endfor %}

