<!--tab******************************** -->
<div id="izkaznica" class="tab-pane active">
    <div class="profile-desk">
        {% include "partnerji/partner/detail/200_content/tabs/tab_01.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="osebe" class="tab-pane">
    <div class="profile-desk">
        {% include "partnerji/partner/detail/200_content/tabs/tab_02.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="trr" class="tab-pane">
    <div class="profile-desk">
        {% include "partnerji/partner/detail/200_content/tabs/tab_03.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->

<!--tab******************************** -->
<div id="dokumenti" class="tab-pane">
    <div class="profile-desk">
        {% include "partnerji/partner/detail/200_content/tabs/tab_04.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->