<!-- TAB_01 Content -->



<!-- Ko še ni registriranih vnosov -->
{% if not object_list %}
    Trenutno še ni registriranih sestankov.

<!-- Ko vnosi že obstajajo -->
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>sklicatelj</th>
                <th>datum</th>
                <th>status</th>
            </tr>

        </thead>
        <tbody>

            {% for object in object_list %}

            <tr>
                <td><a href="{% url 'moduli:sestanki:sestanek_detail' object.pk %}">{{ object.oznaka }}</a></td>
                <td>{{ object.naziv }}</td>
                <td>{{ object.sklicatelj.kratko_ime }}</td>
                <td>{{ object.datum }}</td>
                <td>{{ object.get_status_display }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}