<table class="table table-bordered table-hover">
    <tr>
        <th>Oznaka Projektnega Mesta</th>
        <th>Naziv Projektnega Mesta</th>
        <th>Artikel</th>
    </tr>

    {% for projektno_mesto in object.projektna_mesta_aktivna %}

    <tr>
        <td><h1><a href="{% url 'moduli:deli:projektnomesto_detail' projektno_mesto.pk %}"><b style="color:#0000FF">{{ projektno_mesto.oznaka }}</b></a></h1></td>
        <td><b>{{ projektno_mesto.naziv }}</b><br><i>{{ projektno_mesto.tip_elementa.naziv }}</i></td>


        <!-- Podatki o artiklu -->
        {% if projektno_mesto.element %}

        <td>Serijska številka: {{ projektno_mesto.aktiven_element.serijska_st }} | Tovarniška številka: {{ projektno_mesto.aktiven_element.serijska_st }}<br>{{ projektno_mesto.aktiven_element.artikel.naziv }}<br><i>{{ projektno_mesto.aktiven_element.artikel.proizvajalec.naziv }}</i></td>

        {% else %}

        <td><b>Artikel ni definiran!</b></td>

        {% endif %}
    </tr>

    {% endfor %}
</table>
