<!-- ZA ARHIVIRANJE -->

            <div class="table-responsive">
                <table id="datatable_posta_nearhivirano"  class="table table-condensed table-hover">

                    <thead class="bg-primary">
                    <tr>
                        <td>oznaka</td>
                        <td>datum</td>
                        <td>predmet</td>
                        <td>priponka</td>
                    </tr>
                    </thead>

                    <tbody>
                    {% for dokument in za_arhiviranje_list %}
                    <tr>
                        <td><b><a href="{% url 'moduli:posta:dokument_detail' dokument.pk %}">{{ dokument.oznaka }}</a></b></td>
                        <td>{{ dokument.naziv }}</td>
                        <td>{{ dokument.datum }}</td>
                        <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">priponka</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
