{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}

    <li><a type="button" data-toggle="modal" data-target=""><b>Uredi</b> Podatke</a></li>
    <li><a type="button" href="{% url 'moduli:planiranje:vzorec_opravila_create' object.pk %}">
        <b>Dodaj</b> Vzorec Opravila</a></li>

{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "planiranje/planirano_opravilo/detail/content.html" %}
{% include "planiranje/planirano_opravilo/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}
{% endblock %}
<!-- end JAVASCRIPT EXTRA -->