<!-- Planirano opravilo detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs profile-tabs">
                    <li class="active"><a data-toggle="tab" href="#vzorec">Vzorci Opravil</a></li>
                    <li><a data-toggle="tab" href="#osnova">Osnova</a></li>
                    <li><a data-toggle="tab" href="#aktivnost">Planirane aktivnosti</a></li>
                </ul>
            </div>

            <div class="panel-body" > 
                <div class="tab-content"> 



                    <!--tab******************************** -->
                    <div id="vzorec" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "planiranje/planirano_opravilo/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                    <!--tab******************************** -->
                    <div id="osnova" class="tab-pane">
                        <div class="profile-desk">
                            {% include "planiranje/planirano_opravilo/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                    <!--tab******************************** -->
                    <div id="aktivnost" class="tab-pane">
                        <div class="profile-desk">
                            {% include "planiranje/planirano_opravilo/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                </div>
            </div>
            
        </div>
    </div>
</div>