{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content2 %}


 

<div class="container">

    <div class="jumbotron">
    <h3>zahtevki : home</h3>
    </div>
</div>


<div class="container">
    <div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <td><b><a href="{% url 'moduli:zahtevki:zahtevek_list' %}">Reševanje zahtevkov</a></b></td>
            </tr>

        </table>
    </div>
    </div>

{% endblock %}