<!-- ZAZNAMKI -->

<!-- Ko še ni registriranih vnosov -->
{% if not racunrazdelilnik_list %}
    Razdelilnik še nima dodanih računov.

<!-- Ko vnosi že obstajajo -->
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
            <col style="width:5%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:35%">
            <col style="width:10%">
            <col style="width:20%">

        <thead>

            <tr>
                <th>status</th>
                <th>int. oznaka</th>
                <th>št. dokumenta</th>
                <th>Dobavitelj</th>
                <th>Datum dokumenta</th>
                <th>Datum opr. storitve</th>
                <th>Vrednost Osnova</th>
            </tr>

        </thead>
        <tbody>

            {% for object in racunrazdelilnik_list %}
            
            {% if object.is_razdeljen %}
            <tr class="success">
                <td><a href="{% url 'moduli:razdelilnik:racunrazdelilnik_update' object.pk %}">edit</a><br>
                <a href="{% url 'moduli:racunovodstvo:racun_detail' object.racun.pk %}">račun</a></td>
                <td>{{ object.is_razdeljen }} {{ object.razdeljen_datum }}</td> 
            {% else %}
            <tr>
                <td><a href="{% url 'moduli:razdelilnik:racunrazdelilnik_update' object.pk %}">edit</a><br>
                <a href="{% url 'moduli:racunovodstvo:racun_detail' object.racun.pk %}">račun</a></td>
                <td>Ni razdeljen</td>
            {% endif %}
                <td>{{ object.racun.oznaka }}</td>
                <td>{{ object.racun.arhiviranje.dokument.oznaka }}</td>
                <td>{{ object.racun.arhiviranje.dokument.avtor.kratko_ime }}</td>
                <td>{{ object.racun.arhiviranje.dokument.datum_dokumenta }}</td>
                <td>{{ object.racun.datum_storitve_od }}-{{ object.racun.datum_storitve_do }}</td>
                <td>{{ object.vrednost_osnova }}</td>
                
            </tr>

            {% endfor %}

        </tbody>

        <tr>
            <td colspan=8><b>SKUPAJ</b></td>
        </tr>
        <tr>
            <td colspan=7>Skupaj Vrednost brez DDV</td>
            <td>{{ vrednost_razdelilnik_osnova.vrednost }}</td>
        </tr>
        <tr>
            <td colspan=7>Skupaj Vrednost z DDV</td>
            <td>{{ vrednost_razdelilnik_zddv }}</td>
        </tr>
    </table>
</div>




{% endif %}