{% load staticfiles i18n %}
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    
    <!-- -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <link href="{% static 'timepicker/timepicker.css' %}" rel="stylesheet">

    <!-- VELONIC -->

    <link href="{% static 'admin_page2/assets/notifications/notification.css' %}" rel="stylesheet" />

    <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'admin_page2/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_page2/css/bootstrap-reset.css' %}" rel="stylesheet">

    <!--Animation css-->
    <link href="{% static 'admin_page2/css/animate.css' %}" rel="stylesheet">

    <!--Icon-fonts css-->
    <link href="{% static 'admin_page2/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'admin_page2/assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />

    <!--Form Wizard-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin_page2/assets/form-wizard/jquery.steps.css' %}" />
    <!-- Custom styles for this template -->
    <link href="{% static 'admin_page2/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'admin_page2/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'admin_page2/css/style-responsive.css' %}" rel="stylesheet" />

    <link href="{% static 'admin_page2/assets/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />

    <!--Multi selecet-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin_page2/assets/jquery-multi-select/multi-select.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin_page2/assets/select2/select2.css' %}" />
<header>asbv
</header>

<nav class="navbar navbar-default">
<ul>EDAFM, upravljanje stavb, d.o.o.</ul>
</nav>

<div class="container"><h1><br><br><br></h1>
    <div class="row" align="left">
        <br><br><br><br>
        <img src="{% static 'images/eda5_logo.png' %}" alt="EDA 5">
        





   

     </div>
<footer class="footer">
                2015 © EDAFM, upravljanje stavb, d.o.o.
            </footer>
</div>
    

