
<table class="table table-striped table-bordered">
    <tr>
        <th>oznaka</th>
        <th>naziv</th>
        <th>namen</th>
        <th>obseg</th>
        <th>perioda</th>
        <th>opombe</th>
        

    </tr>

{% for planirano_opravilo in planirano_opravilo_list %}

    <tr>

        <td><a href="{% url 'moduli:planiranje:planirano_opravilo_detail' planirano_opravilo.pk %}">{{ planirano_opravilo.oznaka }}</a></td>
        <td>{{ planirano_opravilo.naziv }}</td>
        <td>{{ planirano_opravilo.namen }}</td>
        <td>{{ planirano_opravilo.obseg }}</td>
        <td>{{ planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ planirano_opravilo.perioda_predpisana_enota }}</td>
        <td>{{ planirano_opravilo.opomba }}</td>

    </tr>
    
{% endfor %}

</table>
