
<table class="table table-striped table-bordered">
    <tr>
        <th>oznaka</th>
        <th>naziv</th>
        <th>perioda</th>
        <th>izvedeno dne</th>
        <th>Delovni Nalog</th>

    </tr>





    {% for dn in delovni_nalog_zakljucen_list %}

    <tr>

        <td><a href="{% url 'moduli:planiranje:planirano_opravilo_detail' dn.opravilo.planirano_opravilo.pk %}">{{ dn.opravilo.planirano_opravilo.oznaka }}</a></td>
        <td>{{ dn.opravilo.planirano_opravilo.naziv }}</td>
        <td>{{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota_kolicina }} {{ dn.opravilo.planirano_opravilo.perioda_predpisana_enota }}</td>
        <td>{{ dn.opravilo.created }}</td>
        <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.id %}">{{ dn.oznaka }}</a></td>

    </tr>

    {% endfor %}   



</table>
