{% extends "base_300.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}


<!-- #########################################################################-->
<!--  NAVIGAIJA -->
<!-- #########################################################################-->
{% block navigacija %}

{% endblock %}



<!-- #########################################################################-->
<!--  SIDEBAR -->
<!-- #########################################################################-->
{% block sidebar %}

{% endblock %}



<!-- #########################################################################-->
<!--  NAVIGACIJA DESNO -->
<!-- #########################################################################-->
{% block navbar_right_podrobno %}

{% endblock %}



<!-- #########################################################################-->
<!--  CONTENT HEADER -->
<!-- #########################################################################-->
{% block content-header %}
<div class="row ">
    <div class="col-sm-12 col-md-12">
        <div class="panel border_hairline_grey">
            <div class="panel-heading no-collapse background_dark_grey_header">
                {{ modul_zavihek.naziv }}
            </div>

            <table class="table table-bordered background_yellow">
                <thead>
                </thead>
                <tbody>
                {% include "povprasevanje/povprasevanje/detail-zunanji/200_content/100_content_header.html" %}
                </tbody>
            </table>
        </div>   
    </div>
</div>
    
{% endblock %}



<!-- #########################################################################-->
<!--  CONTENT BODY -->
<!-- #########################################################################-->
{% block content-body %}
<div class="row m-t-30  ">
    <div class="col-sm-12">
        <div class="panel no_padding">
            <div class="panel-heading background_dark_grey no_padding">
                <ul class="nav nav-pills">
                    {% include "povprasevanje/povprasevanje/detail-zunanji/200_content/200_content_body_items.html" %}
                </ul>
            </div>

            <div class="panel-body background_grey" > 
                <div class="tab-content"> 
                    {% include "povprasevanje/povprasevanje/detail-zunanji/200_content/300_content_body_tabs.html" %}
                    {% include "povprasevanje/povprasevanje/detail-zunanji/200_content/400_content_modal.html" %}
                </div>
            </div>
        </div>
    </div>
</div> 
    
{% endblock %}





<!-- #########################################################################-->
<!--  JAVASCRIPT EXTRA -->
<!-- #########################################################################-->
{% block javascript_extra %}
{% endblock %}
