{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container">
<div class="jumbotron">
<h1>Element<br>
<b>{{ object.oznaka }}</b> {{ object.naziv }}
</h1>
</div>
<h3>Osnovni podatki</h3>
Oznaka: {{ object.oznaka }}<br>
Naziv : {{ object.naziv }}<br>
Serijska : {{ object.serijska_st }}<br>
Tovarniška : {{ object.tovarniska_st }}<br>
<br>
<h3>Osnovni podatki</h3>
<br>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Prevzemna Dokumentacija</a></li>
    <li><a data-toggle="tab" href="#menu1">Servisna Knjiga</a></li>
    <li><a data-toggle="tab" href="#menu2">Plan Obratovanja in Vzdrževanja</a></li>
    <li><a data-toggle="tab" href="#strosek1">Strošek v življenski dobi</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Prevzemna Dokumentacija</h3>
 
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Servisna Knjiga</h3>
      

      <div class="">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>datum</th>
                    <th>oznaka</th>
                    <th>naziv</th>
                    <th>vrsta_dela</th>
                    <th>strošek (z ddv)</th>

                </tr>

                {% for opravilo in object.opravilo_set.all %}
                  {% for dn in opravilo.delovninalog_set.all %}
                      <tr>
                          <td>{{ dn.datum_start }}</td>
                          <td>{{ dn.oznaka }}</td>
                          <td>{{ opravilo.naziv }} ({{ opravilo.oznaka }})</td>
                          <td>{{ opravilo.vrsta_stroska.naziv }} ({{ opravilo.vrsta_stroska.oznaka }})</td>
                          <td>{{ dn.strosek.strosek_z_ddv }} EUR</td>
                          
                      </tr>
                  {% endfor %}
                {% endfor %}


            </table>
        </div>

    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Plan Obratovanja in Vzdrževanja</h3>

    </div>

    <div id="strosek1" class="tab-pane fade">
      <h3>Strošek v življenski dobi: {{ object.celotnistrosek }}   </h3>
      <br><h3>GRAF</h3>
      <div id="chart_container" style="width:100%; height:400px;"></div>

    </div>
  </div>
 </div>


{% endblock %}

{% block graf %}

<script>
$(function () {
$('#chart_container').highcharts({
chart: {
type: 'areaspline'
},
title: {
text: 'Strošek na elementu {{ object.oznaka }}'
},
xAxis: {
categories: [

{% for opravilo in object.opravilo_set.all %}
{% for dn in opravilo.delovninalog_set.all %}

{{ dn.datum_start }},

{% endfor %}
{% endfor %}

]
},
yAxis: {
title: {
text: 'enota ...'
}
},
series: [
{
name: '{{ object.oznaka }}',
data: ['abc',

{% for opravilo in object.opravilo_set.all %}
{% for dn in opravilo.delovninalog_set.all %}

{{ dn.strosek.strosek_z_ddv }},

{% endfor %}
{% endfor %}

]
}
]
});
});
</script>
{% endblock graf %}
