{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h3>Deli Stavbe</h3>
    <!--Panel-->

    <div class="panel-group" id="accordionA" role="tablist" aria-multiselectable="true">
        {% for  skupina in object_list %}

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionA" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                <b>{{ skupina.oznaka }} {{ skupina.naziv }}</b>
                </a>
                </h4>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                <div class="list-group"> <!--div class="panel-body"-->

                    <!--ZAČETEK - Urinjen Panel Group-->
                    <div class="panel-group" id="accordionB" role="tablist" aria-multiselectable="true">

                        {% for  podskupina in skupina.sorted_podskupinadelov_set %}
                        <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingB{{ forloop.counter }}">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionC" href="#collapseB{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseB{{ forloop.counter }}">
                                    <b><small>{{ podskupina.oznaka }} {{ podskupina.naziv }}</small></b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseB{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingB{{ forloop.counter }}">  
                                <div class="ist-group-item">

                                {% for  del in podskupina.sorted_delstavbe_set %}
                                    <li class="panel-group"><span class="glyphicon glyphicon-chevron-right text-primary"></span><a href="{% url 'moduli:deli:detail' del.id %}"> (<b>{{ del.oznaka }}</b>) {{ del.naziv }}
                                {% endfor %}  

                                </div>  
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!--KONEC - Urinjen Panel Group-->

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
