<!-- NeLikvidirani -->

<table class="table table-striped table-bordered">
    <tr>
        <th>št.dokumenta</th>
        <th>predmet</th>
        <th>pošiljatelj</th>
        <th>priponka</th>

        

    </tr>

{% for racun in racun_nelikvidiran_list %}
    
    {% if racun %}

    <tr>

        <td><a href="{% url 'moduli:posta:dokument_detail' racun.pk %}">{{ racun.oznaka }}</a></td>
        <td>{{ racun.naziv }}</td>
        <td>{{ racun.avtor }}</td>
        <td><a href="{{ MEDIA_URL }}{{ object.dokument.priponka }}" target="_blank">{{ racun.priponka }}</a></td>

    </tr>
    {% endif %}
    
{% endfor %}

</table>