{% extends "moduli/modul_list.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Uvoz iz csv</h3> 
                </div>


<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-6">
            <form method="POST", action="">{% csrf_token %}
                {{ uvoz_form | crispy}}
                <input type="submit" value="Potrdi">
            </form>
        </div>
    </div>
    
</div>

{% endblock %}