{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:list' %}">Nazaj</a> | <a href="{% url 'moduli:partnerji:create' %}">Nov vnos</a>
    </i></small>

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <img src="{% static 'images/moduli/M1.png' %}" alt="great image" class="img-thumbnail">
        </div>
    </div>
</div>

    <div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <td><b><a href="{% url 'moduli:partnerji:list' %}">Seznam partnerjev</a></b></td>
            </tr>
            <tr>
                <td><b><a href="{% url 'moduli:partnerji:create'%}">Vnesi novega partnerja</a></b></td>
            </tr>
        </table>
    </div>

{% endblock %}