{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% include trr_modal.html %}
{% block content %}

<div class="container">
    <small>
        <i>
            <a href="{% url 'moduli:partnerji:list' %}">Nazaj na seznam</a> | <a href="{% url 'moduli:partnerji:update' object.id %}">Posodobi</a>
        </i>
    </small>

    <div class="jumbotron">
        <h1>{{ object.kratko_ime }} ({{object.davcna_st}})</h1><br>
        <p>{{ object.naslov }}, {{ object.posta.postna_stevilka }} {{ object.posta.naziv }}, {{ object.posta.drzava.naziv }}<br>
        ____________________________________________________________________<br>
        <small><b>Dodano:</b> {{ object.created }} | <b>Posodobljeno:</b> <i>{{ object.updated }}</i></small>
        </p>
    </div>

    <!-- colapse group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- podatki ===================================================================-->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Podatki
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="table-condensed table-hover table-bordered table-striped">
                        <table class="table">
                            <tr>
                                <td>Dolgi naziv</td>
                                <td>{{ object.dolgo_ime }}</td>
                            </tr>
                            <tr>
                                <td>Kratki naziv</td>
                                <td>{{ object.kratko_ime }}</td>
                            </tr>
                            <tr>
                                <td>Naslov</td>
                                <td>{{ object.naslov }},<br>
                                    {{ object.posta.postna_stevilka }} {{ object.posta.naziv }},<br>
                                    {{ object.posta.drzava.naziv }}
                                </td>
                            </tr>
                            <tr>
                                <td>Davčni Zavezanec</td>
                                <td>{% if object.davcni_zavezanec %}DA{% else %}NE{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Davčna Številka</td>
                                <td>{{ object.davcna_st }}</td>
                            </tr>
                            <tr>
                                <td>Matična Številka</td>
                                <td>{{ object.maticna_st }}</td>
                            </tr>
                            
                            <tr>
                                <td>TRR 
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTRR">
                                       <i class="fa fa-plus"></i><small>Dodaj</small> </button>


                                    
                                {{ forloop.counter }}</td>

                                <td>
                                    {% for trr in object.trracun_set.all %}
                                        {{ trr.iban }} ({{trr.banka.bic_koda}})<br>
                                    {% endfor %}
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Osebe ===================================================================-->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Osebe
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                    <div class="table-condensed table-hover table-bordered table-striped">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#novaOseba">
                        Dodaj Osebo
                        </button>
                        <table class="table">
                            <tr>
                                <th>Priimek in Ime</th>
                                <th>Status</th>
                                <th>Kvalifikacije</th>
                            </tr>

                            {% for oseba in object.oseba_set.all|dictsort:"status" %}
                            <tr>
                                <td>{{ oseba.priimek }} {{ oseba.ime }}</td>
                                <td>{{ oseba.status }}</td>
                                <td>{{ oseba.kvalifikacije }}</td>
                            </tr>
                            {% endfor %}

                        </table>

                        <div class="modal fade" id="novaOseba" tabindex="-1" role="dialog" aria-labelledby="novaOseba">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            
                                            Nova Osebo
                                        
                                        </h4>
                                    </div>
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="modal-body">
                                            {{ oseba_form|crispy  }}   
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                                            <button type="submit" class="btn btn-primary">Shrani</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dokumentacija ===================================================================-->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Dokumentacija
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <!-- INSERT HERE -->
                    <div class="table-condensed table-hover table-bordered table-striped">
                    <table class="table">
                        <tr>
                            <th>številka</th>
                            <th>vrsta</th>
                            <th>opis</th>
                            <th>prejeto dne</th>
                            <th>priponka</th>
                        </tr>
                    {% for dokument in object.dokument_set.all %}

                        <tr>
                            <td>{{ dokument.oznaka }}</td>
                            <td>{{ dokument.vrsta_dokumenta.naziv }}</td>
                            <td>{{ dokument.opis }}</td>
                            <td>{{ dokument.datum_prejema }}</td>
                            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}"><i class="fa fa-file-pdf-o"></i></a></td>
                        </tr>
                    {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal ADD TRR-->
<div class="modal fade" id="addTRR" tabindex="-1" role="dialog" aria-labelledby="addTRR">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nov Transakcijski Račun (IBAN)</h4>
      </div>


                                <form action="" method="POST">{% csrf_token %}
                                    <div class="modal-body">
                                        {{ trr_form|crispy  }}   
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                                        <button type="submit" class="btn btn-primary">Shrani</button>
                                    </div>
                                </form>
    </div>
  </div>
</div>


{% endblock %}
