{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% include trr_modal.html %}

{% block content %}

<div class="container">
    <small>
        <i>
            <a href="{% url 'moduli:racunovodstvo:list_likvidirano' %}">Nazaj na seznam</a> | <a href="">Posodobi</a>
        </i>
    </small>

    <div class="jumbotron">
        <h1>{{ object.dokument.vrsta_dokumenta.naziv }} št. <b>{{ object.dokument.oznaka }}</b><br> 
        Pošiljatelj: <b>{{object.dokument.posiljatelj}}</b></h1><br>
        ____________________________________________________________________<br>
        <small><b>Prejeto dne:</b> {{ object.dokument.datum_prejema }}<br></small>
        <small><b>Likvidirano dne:</b> {{ object.created }}<br></small>
        <small><b>Likvidiral:</b> <br></small>

    </div>

<div class="table-condensed table-hover table-bordered table-striped">
                        <table class="table">
                            <tr>
                                <td>Vrsta</td>
                                <td><b>{{ object.dokument.vrsta_dokumenta.naziv }}</b></td>
                            </tr>
                            <tr>
                                <td>številka</td>
                                <td>{{ object.dokument.oznaka }}</td>
                            </tr>
                            <tr>
                                <td>Pošiljatelj</td>
                                <td>{{ object.dokument.posiljatelj.kratko_ime }},<br>
                                    {{ object.dokument.posiljatelj.naslov }}, {{ object.dokument.posiljatelj.posta.postna_stevilka }} {{ object.dokument.posiljatelj.posta.naziv }},<br>
                                    {{ object.dokument.posiljatelj.posta.drzava.naziv }}<br>
                                    {{ object.dokument.posiljatelj.davcna_st }}
                                </td>
                            </tr>
                            <tr>
                                <td>Davčna Klasifikacija</td>
                                <td>{{ object.davcna_klasifikacija }}
                            </tr>
                            <tr>
                                <td>Datum Storitve Od</td>
                                <td>{{ object.datum_storitve_od }}</td>
                            </tr>
                            <tr>
                                <td>Datum Storitve Od</td>
                                <td>{{ object.datum_storitve_do }}</td>
                            </tr>
                            <tr>
                                <td>Obdobje Obračuna</td>
                                <td>{{ object.obdobje_obracuna_leto.oznaka }}-{{ object.obdobje_obracuna_mesec.oznaka }}</td>
                            </tr>
                            
                            
                        </table>
                    </div>






{% endblock %}