<!-- Header -->

<tr>
    <td><small><b>oznaka</b></small></td>
    <td></b>{{ object.oznaka }}</td>
</tr>

<tr>
    <td><small><b>naziv</b></small></td>
    <td>{{ object.naziv }}</td>
</tr>

<tr>
    <td><small><b>Opis</b></small></td>
    <td>{{ object.opis }}</td>
</tr>

<tr>
    <td><small><b>Datum</b></small></td>
    <td>{{ object.datum }}</td>
</tr>

<tr>
    <td><small><b>Naročnik</b></small></td>
    <td><a href="{% url 'moduli:partnerji:partner_detail' object.narocnik.pk %}">{{ object.narocnik.kratko_ime }}</a></td>
</tr>

<tr>
    <td><small><b>Izvajalec</b></small></td>
    <td><a href="{% url 'moduli:partnerji:partner_detail' object.izvajalec.pk %}">{{ object.izvajalec.kratko_ime }}</a></td>
</tr>

<tr>
    <td><small><b>Status</b></small></td>
    <td></b>{{ object.get_status_display }}</b></td>
</tr>

<tr>
    <td><small><b>Zahtevek</b></small></td>
    <td>Reklamacija se rešuje v zahtevku št. <a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek.pk %}">{{ object.zahtevek.oznaka }}</a></td>
</tr>
