<!-- TAB_01 Content -->
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<form id="list-filter" action="">

{{ form  }}


<button type="submit" name="page" value="1">{% trans 'Search' %}</button>

</form>

    <table id="" class="table table-stripped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Oznaka</th>
                <th>Vrsta</th>
                <th>Predmet</th>
                <th>Status</th>
            </tr>
        </thead>


        <tbody>
            {% for object in object_list %}
            {% if object.status == 4 %}
            <tr class="success">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ object.id }}</td>
                <td><b><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.pk %}">{{ object.oznaka }}</a></b></td>
                <td><b>{{ object.get_vrsta_display }}</b></td>
                <td>{{ object.naziv }}</td>
                <td>{{ object.get_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% if is_paginated %}
    {% include 'core/pagination.html' with form_target='list-filter' %}
{% endif %}
