

<div class="table-responsive">
    <table class="table table-bordered table-striped">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:40%">
            <col style="width:15%">
            <col style="width:10%">
            <col style="width:5%">
            <col style="width:10%">
        <thead>

            <tr style="font-size: 10px;" class="danger">
                <th>int. oznaka</th>
                <th colspan=5>Naziv</th>
                <th>Ukazi</th>

            </tr>
            <tr style="font-size: 10px;" class="danger">
                <th>št. dokumenta</th>
                <th>Dobavitelj</th>
                <th>Datum dokumenta</th>
                <th>Datum opr. storitve</th>
                <th>Vrednost BREZ</th>
                <th>Stopnja DDV</th>
                <th>Vrednost DDV</th>
            </tr>

        </thead>
        <tbody>

            {% regroup strosek_list by vrsta_stroska as vrstastroska_list %}
            {% for vrsta_stroska in vrstastroska_list %}


            <tr>
                <td colspan=7 class="warning">
                    <b>{{ vrsta_stroska.grouper }}</b>
                </td>
            </tr>


            {% for object in vrsta_stroska.list %}
            
            <tr>
                <tr style="font-size: 10px;" class="info">
                    <td>
                        <b>{{ object.racun.racunovodsko_leto }}-{{ object.racun.oznaka }}-{{ object.oznaka }}</b>
                    </td>
                    <td colspan=5>
                        <b>{{ object.naziv }}</b>
                    </td>
                    <td colspan=7>
                            <a href="{% url 'moduli:razdelilnik:strosekrazdelilnik_create' object.pk %}"><b>Poveži</b></a>
                    </td>
                </tr>

                <tr style="font-size: 10px;">
                    <td><a href="{{ MEDIA_URL }}{{ object.racun.arhiviranje.dokument.priponka }}">{{ object.racun.arhiviranje.dokument.oznaka }}</a></td>
                    <td>{{ object.racun.arhiviranje.dokument.datum_dokumenta }}</td>
                    <td>{{ object.racun.arhiviranje.dokument.avtor.kratko_ime }}</td>
                    <td>{{ object.racun.datum_storitve_od }}-{{ object.racun.datum_storitve_do }}</td>
                    <td>{{ object.osnova }}</td>
                    <td>{{ object.stopnja_ddv_output }}</td>
                    <td>{{ object.strosek_z_ddv }}</td>
                </tr>
                    
            </tr>

            {% endfor %}
            {% endfor %}


        </tbody>

    </table>
</div>





<div class="table-responsive">
    <table class="table table-bordered table-striped">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:40%">
            <col style="width:15%">
            <col style="width:10%">
            <col style="width:5%">
            <col style="width:10%">

        <thead>

            <tr style="font-size: 10px;" class="danger">
                <th>int. oznaka</th>
                <th colspan=6>Naziv</th>

            </tr>
            <tr style="font-size: 10px;" class="danger">
                <th>št. dokumenta</th>
                <th>Dobavitelj</th>
                <th>Datum dokumenta</th>
                <th>Datum opr. storitve</th>
                <th>Vrednost BREZ</th>
                <th>Stopnja DDV</th>
                <th>Vrednost DDV</th>
            </tr>

        </thead>
        <tbody>

            {% regroup strosekrazdelilnik_list by strosek.vrsta_stroska as vrstastroska_list %}
            {% for vrsta_stroska in vrstastroska_list %}


            <tr>
                <td colspan=7 class="warning">
                    <b>{{ vrsta_stroska.grouper }}</b>
                </td>
            </tr>


            {% for object in vrsta_stroska.list %}
            
            <tr>
                <tr style="font-size: 10px;" class="info">
                    <td>
                        <b>{{ object.strosek.racun.racunovodsko_leto }}-{{ object.strosek.racun.oznaka }}-{{ object.strosek.oznaka }}</b>
                    </td>
                    <td colspan=6>
                        <b>{{ object.strosek.naziv }}</b>
                    </td>
                </tr>

                <tr style="font-size: 10px;">
                    <td><a href="{{ MEDIA_URL }}{{ object.strosek.racun.arhiviranje.dokument.priponka }}">{{ object.strosek.racun.arhiviranje.dokument.oznaka }}</a></td>
                    <td>{{ object.strosek.racun.arhiviranje.dokument.datum_dokumenta }}</td>
                    <td>{{ object.strosek.racun.arhiviranje.dokument.avtor.kratko_ime }}</td>
                    <td>{{ object.strosek.racun.datum_storitve_od }}-{{ object.strosek.racun.datum_storitve_do }}</td>
                    <td>{{ object.strosek.osnova }}</td>
                    <td>{{ object.strosek.stopnja_ddv_output }}</td>
                    <td>{{ object.strosek.strosek_z_ddv }}</td>
                </tr>
                    
            </tr>

            {% endfor %}
            {% endfor %}


        </tbody>

        <tr style="font-size: 10px;">
            <td colspan=7><b>SKUPAJ</b></td>
        </tr>
        <tr style="font-size: 10px;">
            <td colspan=6>Skupaj Vrednost brez DDV</td>
            <td>{{ vrednost_razdelilnik_osnova.vrednost }}</td>
        </tr>
        <tr style="font-size: 10px;">
            <td colspan=6>Skupaj Vrednost z DDV</td>
            <td>{{ vrednost_razdelilnik_zddv }}</td>
        </tr>
    </table>
</div>