{% extends "porocanjeupravnika/home.html" %}
{% load staticfiles i18n %}

{% block content-body %}


<div class="container">
<div class="jumbotron">
<h1>Naročila partnerja </h1>
</div>



                        <table class="table table-bordered" >
                            <tr>
                                <th>oznaka</th>
                                <th>predmet</th>
                                <th>narocnik</th>
                                <th>datum narocila</th>
                                <th>veljavnost</th>
                                <th>narocilo</th>
                            </tr>

{% for object in object_list %}
    {% for partner in object.narocnik.partner.all %}
        {% if partner.id == current_partner.id %}

                            <tr>
                                <td><b><a href="">{{ object.oznaka }}</a></b></td>
                                <td>{{ object.predmet }}</td>
                                <td><b>{{ object.narocnik.naziv }}</b></td>
                                <td>{{ object.datum_narocila }}</td>
                                <td>{{ object.datum_veljavnosti }}</td>
                                <td>
                                    {% if object.narocilo_telefon == None %}
                                    {% else %}
                                    Telefon | Čas dne: {{ object.narocilo_telefon.datum_klica }} {{ object.narocilo_telefon.cas_klica }}
                                    {% endif %}
                                    {% if object.narocilo_pogodba == None %}
                                    {% else %}
                                    <a href="{{ MEDIA_URL }}{{ object.narocilo_pogodba.pogodba.priponka }}">Pogodba št.{{ object.narocilo_pogodba.st_pogodbe }}</a>
                                    {% endif %}
                              
                                </td>
                            </tr>

        {% endif %}
    {% endfor %}
{% endfor %}

                        </table>

                        






{% endblock %}