<li class="dropdown-header">Splošno Sestanek</li>
<li><a type="button" href="{% url 'moduli:sestanki:sestanek_update' object.pk %}"><b>Uredi</b> Podatke</a></li>

<li><a type="button" href="{% url 'moduli:arhiv:arhiviranje_create_from_sestanek' object.pk %}">Dodaj Dokument</a></li>

<li><a type="button" href="{% url 'moduli:zaznamki:zaznamek_create_from_sestanek' object.pk %}">Dodaj Zaznamek</a></li>

<li class="dropdown-header">Naloge</li>
<li><a type="button" href="{% url 'moduli:naloge:naloga_create_from_sestanek' object.pk %}">Dodaj Nalogo</a></li>
