<!-- HEADER -->

<!-- table col width -->



<!-- table vsebina -->


<tr>
    <td><small><b>oznaka</b></small></td>
    <td></b>{{ object.oznaka }}</td>
</tr>

<tr>
    <td><small><b>naziv</b></small></td>
    <td>{{ object.naziv }}</td>
</tr>

<tr>
    <td><small><b>status</b></small></td>
    <td>{{ object.get_status_display }}</td>
</tr>
<tr>
    <td><small><b>nosilec</b></small></td>
    <td>{{ object.nosilec.ime }} {{ object.nosilec.priimek }}</td>
</tr>
<tr>
    <td><small><b>rok izvedbe</b></small></td>
    <td>{{ object.rok_izvedbe }}</td>
</tr>
<tr>
    <td><small><b>Naročilo</b></small></td>
    <td><a href="{% url 'moduli:narocila:narocilo_detail' object.narocilo.pk %}">{{ object.narocilo.oznaka }}</a></td>
</tr>
<tr>
	<td><b>Zahtevek</b></td>
	<td><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek.pk %}">({{ object.zahtevek.oznaka }})</a> {{ object.zahtevek.naziv }}</td>
</tr>
