<!-- zahtevek detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#neobdelane">Ne-obdelane</a></li>
                    <li><a data-toggle="tab" href="#vresevanju">Obdelane</a></li>

                </ul>
                <!--end nav-tabs-->


            </div>


            <div class="panel-body" > 
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="neobdelane" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "pomanjkljivosti/pomanjkljivost/list/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="vresevanju" class="tab-pane">
                        <div class="profile-desk">
                            {% include "pomanjkljivosti/pomanjkljivost/list/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->





                    </div>
                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>