<!-- Podatki -->

<table class="table">

    <tr>
        <td><small><b>oznaka</b></small></td>
        <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
    </tr>
    <tr>
        <td><small><b>predmet</b></small></td>
        <td><b style="color:#0000FF">{{ object.naziv }}</b></td>
    </tr>


    <tr>
        <td><small><b>nosilec</b></small></td>
        <td><b>{{ object.nosilec.priimek }} {{ object.nosilec.ime }}</b></td>
    </tr>
    <tr>
        <td><small><b>rok izvedbe</b></small></td>
        <td><b>{{ object.rok_izvedbe }}</b></td>
    </tr>
    <tr>
        <td><small><b>naročilnica</b></small></td>
        <td><b><a href="{% url 'moduli:narocila:narocilo_detail' object.narocilo.pk %}">{{ object.narocilo.oznaka }}</a></b></td>
    </tr>

    <tr>
        <td><small><b>Elementi</b></small></td>
        <td><b>
            {% for element in object.element.all %}

            <li>({{ element.projektno_mesto.oznaka }}) {{ element.projektno_mesto.tip_elementa.naziv }} | {{ element.artikel.naziv }}</li>

            {% endfor %}
            


        </b></td>
    </tr>

    



    


</table>