<!-- TAB_03 Content -->

<table class="table table-condensed">
    <tbody>
        {% for skpartner in object.skupinapartnerjev_set.all %}
        {% for dokument in skpartner.naslovnik.all %}


        <tr>
            <td>{{ forloop.counter }}</td>
            <td><b>{{ dokument.vrsta_dokumenta.naziv }}</b></td>
            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">{{ dokument.oznaka }}</a></td>
            <td>{{ dokument.naziv }}</td>
            <td><a href="{% url 'moduli:posta:dokument_from_partner_update' dokument.pk %}">Edit</a></td>
        </tr>

        {% endfor %}
        {% endfor %}
    </tbody>
</table>

<table class="table table-condensed">
    <tbody>
        {% for skpartner in object.skupinapartnerjev_set.all %}
        {% for dokument in skpartner.avtor.all %}


        <tr>
            <td>{{ forloop.counter }}</td>
            <td><b>{{ dokument.vrsta_dokumenta.naziv }}</b></td>
            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">{{ dokument.oznaka }}</a></td>
            <td>{{ dokument.naziv }}</td>
            <td><a href="{% url 'moduli:posta:dokument_from_partner_update' dokument.pk %}">Edit</a></td>
        </tr>

        {% endfor %}
        {% endfor %}
    </tbody>
</table>