


.navbar-eda5 {
  z-index: 1000;
  border-width: 0 0 1px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.navbar-eda5-logo-pozicija {
    margin-top: -15px !important; //if the logo has a 70px height.
  }

/* z index je manjši da ga zgornji meni lahko prekrije */
.navbar-moduli {
  z-index: 999;
  background: #121459;
  border-width: 0 0 1px;
  margin-bottom: 0px;
}

.navbar_title {
  z-index: 999;
  background: #fff;
  border-width: 0 0 1px;
}

.background_grey {
  background: #f2f2f2;
}

.background_dark_grey {
  background: #5c5c5c;
  color: #fff;
  font-weight: bold;
}

.btn_ukazi {
  background: #5c5c5c;
  color: #fff;
  font-weight: bold;
  padding: 5px 30px 5px 30px;
}

.background_dark_grey_header {
  background: #5c5c5c;
  color: rgb(255, 217, 102);
  font-weight: bold;
}

.background_yellow {
  background: #fcf8e3;
  color: #8a6d3b;
}

.no_padding {
  padding: 0 0 0 0;
}

.nav-pills > li {
  width: 19.7%;
  text-align: right;
}

.nav-pills > li > a {
  text-align: center;
}


.text_white {
  color: #fff;
}

.table_bottom_border {
  border-top: 5px solid;
  border-bottom: 3px solid;
}