{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}

    <link rel="stylesheet" href="{% static 'css/css_hidden.css' %}" />

    <form id="create_form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}

        <div class="panel panel-{{ modul_zavihek.modul.barva }}">
            <div class="panel-heading">Podatki o prodaji lastnine</div>
            <div class="panel-body">
                {{ prodaja_lastnine_create_form|crispy  }} 
            </div>
        </div>

        <input type="submit" value="Potrdi">

        <div id="reload_controls_element_podskupina_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_podskupina' %}</div>
        <div id="reload_controls_element_del_stavbe_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_del_stavbe' %}</div>
        <div id="reload_controls_element_element_view" style="display: none;">{% url 'moduli:deli:reload_controls_element_element' %}</div>




        

    </form>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<!--  Filter Nosilca Zahtevka glede na naročilo -->
<script src="{% static 'js/custom_filter.js' %}"></script>



<!-- ELEMENT PODSKUPINA FILTER -->
<script>
    // disable nepotrebne dropdown menuje
    $("#id_podskupina").attr('disabled', true);
    $("#id_del_stavbe").attr('disabled', true);
    $("#id_element").attr('disabled', true);

    // ob spremembi dropdown skupine
    $('#create_form').on('change', '#id_skupina', function()
    {
        reload_controls1(this.value);
        
    });

    function reload_controls1(skupina)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_podskupina_view").text(),
            dataType: 'json',
            data: "skupina="+skupina,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#id_podskupina").empty()
                $("#id_del_stavbe").empty()   
                $("#id_element").empty()  

                // disable nepotrebne dropdown menuje
                $("#id_podskupina").attr('disabled', false);
                $("#id_del_stavbe").attr('disabled', true);
                $("#id_element").attr('disabled', true);            

                //PODSKUPINA FILTER
                $("#id_podskupina").append('<option value="">---------</option>')
                $.each( result.podskupine_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_podskupina_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_podskupina').append('<option value="'+value+'">'+parameter+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>

<!-- ELEMENT DEL STAVBE FILTER -->
<script>
    
    $('#create_form').on('change', '#id_podskupina', function()
    {
        reload_controls2(this.value);
    });

    function reload_controls2(podskupina)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_del_stavbe_view").text(),
            dataType: 'json',
            data: "podskupina="+podskupina,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#id_del_stavbe").empty()
                $("#id_element").empty()      

                // disable nepotrebne dropdown menuje
                $("#id_del_stavbe").attr('disabled', false);
                $("#id_element").attr('disabled', true);          

                //PODSKUPINA FILTER
                $("#id_del_stavbe").append('<option value="">---------</option>')
                $.each( result.del_stavbe_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_del_stavbe_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_del_stavbe').append('<option value="'+value+'">'+parameter+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>


<!-- ELEMENT FILTER -->
<script>
    
    $('#create_form').on('change', '#id_del_stavbe', function()
    {
        reload_controls3(this.value);
    });

    function reload_controls3(del_stavbe)
    {
        $.ajax
        ({
            type: 'POST',
            url: $("#reload_controls_element_element_view").text(),
            dataType: 'json',
            data: "del_stavbe="+del_stavbe,
            success: function(result)
            {
                // ponastavimo dropdown menuje
                $("#id_element").empty()    

                // disable nepotrebne dropdown menuje
                $("#id_element").attr('disabled', false);           

                //PODSKUPINA FILTER
                $("#id_element").append('<option value="">---------</option>')
                $.each( result.element_to_display, function( index, value )
                {
                    //use the hidden drop down list to populate the month field
                    parameter=$("#id_element_hidden option[value='" + value + "']").text()
                    //add months to the drop down list
                    $('#id_element').append('<option value="'+value+'">'+parameter+'</option>')

                });

            },
            error: function(xhr, status, error) 
            {
                window.console&&console.log(xhr.responseText);
            }
        });
    }

</script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->


