{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}

<!-- user menu -->
<li class="dropdown">
    <!-- link ime -->
    <a class="" href="#" data-toggle="dropdown">
        <b class="btn_ukazi">Ukazi</b>

    </a>


    <ul class="dropdown-menu">
        {% include "zahtevki/zahtevek/detail/navbar_left.html" %}
    </ul>
</li>



{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE CONTENT -->


{% block content-header %}
    <!-- panel -->
<div class="row no_padding">
    <div class="col-sm-12 col-md-12 no_padding">
        <div class="panel">
            <div class="panel-heading no-collapse background_dark_grey_header">Podrobnosti zahtevka
            </div>

            <table style="row-height=5; !important"  class="table table-condensed table-bordered background_yellow">
                <font color="black">
                    <thead>
                    </thead>
                    <tbody>
                    {% include "zahtevki/zahtevek/detail/header.html" %}
                    </tbody>
                </font>
            </table>
        </div>   
    </div>
</div>
{% endblock %}

{% block content-body %}
    <!-- end panel -->
{% include "zahtevki/zahtevek/detail/content.html" %}
{% include "zahtevki/zahtevek/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->