<!-- zahtevek detail : NAVIGACIJA_MENU -->


<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel with-nav-tabs panel-default">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#podatki">Podatki</a></li>
                    <li><a data-toggle="tab" href="#zaznamki">Zaznamki</a></li>
                    <li><a data-toggle="tab" href="#dokumentacija">Dokumentacija</a></li>
                    <li><a data-toggle="tab" href="#podzahtevki">Podzahtevki</a></li>
                    <li><a data-toggle="tab" href="#narocila">Naročila</a></li>
                    <li><a data-toggle="tab" href="#opravila">Opravila</a></li>
                    <li><a data-toggle="tab" href="#predaja_lastnine">Predaja Lastnine</a></li>
                    <li><a data-toggle="tab" href="#kljuci">Kljuci</a></li>
                    <li><a data-toggle="tab" href="#dogodki">Dogodek</a></li>
                    
                </ul>
            </div>


            <div class="panel-body" > 
                <div class="tab-content"> 



                    <!--tab******************************** -->
                    <div id="podatki" class="tab-pane active">
                        <div class="profile-desk">
                            <text>Podatki o zahtevku:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="opravila" class="tab-pane">
                        <div class="profile-desk">
                            <text>Opravila:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dokumentacija" class="tab-pane">
                        <div class="profile-desk">
                            <text>Dokumentacija:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="zaznamki" class="tab-pane">
                        <div class="profile-desk">
                            <text>Zaznamki:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_04.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="podzahtevki" class="tab-pane">
                        <div class="profile-desk">
                            <text>Podzahtevki:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_05.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="predaja_lastnine" class="tab-pane">
                        <div class="profile-desk">
                            <text>Predaja lastnine:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_06.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="kljuci" class="tab-pane">
                        <div class="profile-desk">
                            <text>Ključi:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_08.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="dogodki" class="tab-pane">
                        <div class="profile-desk">
                            <text>Dogodki:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_07.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="narocila" class="tab-pane">
                        <div class="profile-desk">
                            <text>Naročila:</text>
                            {% include "zahtevki/zahtevek/detail/tabs/tab_09.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                </div>
            </div>
            
        </div>
    </div>
</div>