<!-- Header -->

<tr>
    <td><small><b>oznaka</b></small></td>
    <td></b>{{ object.oznaka }}</td>
</tr>

<tr>
    <td><small><b>naziv</b></small></td>
    <td>{{ object.naziv }}</td>
</tr>

<tr>
    <td><small><b>vrsta</b></small></td>
    <td>{{ object.get_vrsta_display }}</td>
</tr>

<tr>
    <td><small><b>status</b></small></td>
    <td></b>{{ object.get_status_display }}</b></td>
</tr>


<tr>
    <td><small><b>pomanjkljivosti</b></small></td>
    <td>
		<!-- Ko še ni registriranih vnosov -->
		{% if not pomanjkljivost_list %}
		    Trenutno še ni registriranih pomanjkljivosti.

		<!-- Ko vnosi že obstajajo -->
		{% else %}
			<ul>
		    {% for object in pomanjkljivost_list %}
		    
			<li><a href="">  ({{ object.oznaka }}) {{ object.naziv }}

			<!-- Update pomanjkljivost -->
                <a type="button" href="{% url 'moduli:pomanjkljivosti:pomanjkljivost_update' object.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

			</a></li>

		    {% endfor %}
		    </ul>

		{% endif %}
		
	</td>
</tr>