<!-- Header -->

<tr>
    <td><small><b>oznaka</b></small></td>
    <td></b>{{ object.oznaka }}</td>
</tr>

<tr>
    <td><small><b>naziv</b></small></td>
    <td>{{ object.naziv }}</td>
</tr>

<tr>
    <td><small><b>vrsta</b></small></td>
    <td>{{ object.get_vrsta_display }}</td>
</tr>

<tr>
    <td><small><b>status</b></small></td>
    <td></b>{{ object.get_status_display }}</b></td>
</tr>


<tr>
    <td><small><b>pomanjkljivosti</b></small></td>
    <td>



<!-- Ko še ni registriranih vnosov -->
{% if not pomanjkljivost_list %}
    Trenutno še ni registriranih pomanjkljivosti.

<!-- Ko vnosi že obstajajo -->
{% else %}
    <table class="table table-condensed table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>opis</th>
                <th>prijava dne</th>
                <th>prioriteta</th>
            </tr>

        </thead>
        <tbody>

            {% for object in pomanjkljivost_list %}

            {% if object.opravilo_set.all %}
            <tr class="info">
            {% else %}
            <tr>
            {% endif %}
                <td><b><a href="">{{ object.oznaka }}</a></b></td>
                <td>{{ object.naziv }}</td>
                <td>{{ object.opis }}</td>
                <td>{{ object.ugotovljeno_dne }}</td>
                <td>{{ object.get_prioriteta_display }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
{% endif %}

</td></tr>