<!-- NAVBAR LEFT - UKAZI -->


<!-- Splošni ukazi Zahtevkov -->
<li class="dropdown-header">Splošno Zahtevki</li>
<li><a type="button" href="{% url 'moduli:zahtevki:zahtevek_update_main' object.pk %}"><b>Uredi</b> Podatke</a></li>

<li><a type="button" data-toggle="modal" data-target="#addDokumentacija"><b>Dodaj</b> Dokument</a></li>

<li><a type="button" data-toggle="modal" data-target="#addZaznamek"><b>Dodaj</b> Zaznamek</a></li>

<li><a type="button" data-toggle="modal" data-target="#addPodzahtevek"><b>Dodaj</b> Podzahtevek</a></li>



<!-- Naročila -->
<li class="divider"></li>
<li class="dropdown-header">Naročila</li>

<li><a type="button" href="{% url 'moduli:narocila:narocilo_create' object.pk %}"><b>Dodaj</b> Naročilo</a></li>



<!-- Dogodki -->
<li class="divider"></li>
<li class="dropdown-header">Dogodki</li>

<li><a type="button" href="{% url 'moduli:dogodki:dogodek_create_from_zahtevek' object.pk %}"><b>Registriraj</b> Dogodek</a></li>



<!-- Izvedba del -->
<li class="divider"></li>
<li class="dropdown-header">Izvedba del</li>

<li><a type="button" href="{% url 'moduli:delovninalogi:opravilo_create_from_zahtevek' object.pk %}"><b>Dodaj</b> Opravilo</a></li>

<li><a type="button" href="{% url 'moduli:delovninalogi:opravilo_create_from_vzorec_from_zahtevek' object.pk %}"><b>Dodaj</b> Planirano Opravilo</a></li> 

<li><a type="button" href="{% url 'moduli:pomanjkljivosti:pomanjkljivost_create_from_zahtevek' object.pk %}"><b>Dodaj</b> Pomanjkljivost</a></li> 





<!-- Predaja lastnine -->
<li class="divider"></li>
<li class="dropdown-header">Predaja lastnine</li>

<li><a type="button" href="{% url 'moduli:zahtevki:prodaja_lastnine_create' object.pk %}"><b>Dodaj</b> Prodajo LE</a></li>

<li><a type="button" href="{% url 'moduli:zahtevki:najem_lastnine_create' object.pk %}"><b>Dodaj</b> Najem LE</a></li> 

<li><a type="button" href="{% url 'moduli:zahtevki:predaja_kljuca_create' object.pk %}"><b>Dodaj</b> Predajo Ključa</a></li> 
