<!-- NAVBAR LEFT - UKAZI -->


<!-- Splošni ukazi -->
<li class="dropdown-header">Splošno</li>
<li><a type="button" href=""><b>Uredi</b> Podatke</a></li>
<li><a type="button" href="{% url 'moduli:arhiv:arhiviranje_create_from_dobava' object.pk %}">Dodaj Dokument</a></li>
<li><a type="button" href="{% url 'moduli:zaznamki:zaznamek_create_from_dobava' object.pk %}">Dodaj Zaznamek</a></li>


<li class="dropdown-header">Artikli</li>
<li><a type="button" data-toggle="modal" data-target="#addArtikel"><b>Dodaj</b> Artikel</a></li>

