<!-- NeLikvidirani -->

<div class="table-responsive">
<table id="datatable_racun_nelikvidiran" class="table table-condensed table-hover">
<thead class="bg-primary">
    <tr>
        <th>št.dokumenta</th>
        <th>predmet</th>
        <th>pošiljatelj</th>
        <th>priponka</th>
    </tr>
</thead>

<tbody>
{% for racun in racun_nelikvidiran_list %}
    
    {% if racun %}

    <tr>

        <td><a href="{% url 'moduli:posta:dokument_detail' racun.pk %}">{{ racun.oznaka }}</a></td>
        <td>{{ racun.naziv }}</td>
        <td>{{ racun.avtor }}</td>
        <td><a href="{{ MEDIA_URL }}{{ racun.priponka }}" target="_blank">{{ racun.priponka }}</a></td>

    </tr>
    {% endif %}
    
{% endfor %}
</tbody>

</table>
</div>