<!-- SideBar znotraj zavihka | zraven je ze osnovni meni - glej base.html-->


    <!-- Glede na odprt zavihek-->
    <li style="background: {{ modul_zavihek.modul.barva }}; !important"><a href="#" data-target=".{{ modul_zavihek.modul.oznaka }}-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> {{ modul_zavihek.modul.naziv }}<i class="fa fa-collapse in"></i></a></li> 
    

    <li>
        <ul class="{{ modul_zavihek.modul.oznaka }}-menu nav nav-list collapse in"> 
            {% for zavihek in modul_zavihek.modul.zavihek_set.all %}
            {% if zavihek.url_ref %}
            <li><a href="{{ zavihek.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek.naziv }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>




    <!-- Logične povezave z zavihkom-->
    <li style="background: {{ modul_zavihek.modul.barva }}; !important"><a href="#" data-target=".{{ modul_zavihek.modul.oznaka }}-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> {{ modul_zavihek.modul.naziv }}<i class="fa fa-collapse in"></i></a></li> 
    

    <li>
        <ul class="{{ modul_zavihek.modul.oznaka }}-menu nav nav-list collapse in"> 
            {% for zavihek in modul_zavihek.parent.all  %}
            {% if zavihek.url_ref %}
            <li><a href="{{ zavihek.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek.naziv }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    


