<!-- SideBar znotraj zavihka | zraven je ze osnovni meni - glej base.html-->


    <!-- Glede na odprt zavihek-->

            {% for zavihek in modul_zavihek.modul.zavihek_set.all %}
            {% if zavihek.url_ref %}
            <a class="list-group-item background_grey" href="{{ zavihek.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek.naziv }}</a>
            {% endif %}
            {% endfor %}


            <!-- Logične povezave z zavihkom-->
            {% for zavihek_parent in modul_zavihek.parent.all %}
            {% if zavihek_parent.url_ref %}

            <a class="list-group-item background_grey" href="{{ zavihek_parent.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek_parent.naziv }}</a>

            {% endif %}
            {% endfor %}


    


