{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ object.naziv }}<!-- napis modula -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}

    <!-- seznam zavihkov -->
    <table class="table">
        {% for zavihek in object.zavihek_set.all %}

            <!-- Povezavo prikaži samo v primeru, da ima zavihek vpisan url -->
            {% if zavihek.url_ref %}
            <tr>
                <td><h3><a href="{{ zavihek.urlreference }}" >{{ zavihek.naziv }}</a></h3></td>
            </tr>
            {% endif %}
        
        {% endfor %}
    </table><!-- end seznam zavihkov -->

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}
{% endblock %}
<!-- end JAVASCRIPT EXTRA -->