<!-- SideBar znotraj zavihka | zraven je ze osnovni meni - glej base.html-->


    <!-- Glede na odprt zavihek-->
    <li style="background: {{ modul_zavihek.modul.barva }}; !important"><a href="{% url 'moduli:detail' modul_zavihek.modul.pk %}" data-target=".{{ modul_zavihek.modul.oznaka }}-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> {{ modul_zavihek.modul.naziv }}<i class="fa fa-collapse in"></i></a></li> 
    

    <li>
        <ul class="{{ modul_zavihek.modul.oznaka }}-menu nav nav-list collapse in"> 
            {% for zavihek in modul_zavihek.modul.zavihek_set.all %}
            {% if zavihek.url_ref %}
            <li><a href="{{ zavihek.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek.naziv }}</a></li>
            {% endif %}
            {% endfor %}


            <!-- Logične povezave z zavihkom-->
            {% for zavihek_parent in modul_zavihek.parent.all %}
            {% if zavihek_parent.url_ref %}

            <li><a href="{{ zavihek_parent.urlreference }}"><span class="fa fa-caret-right"></span> {{ zavihek_parent.naziv }} |{{ zavihek_parent.modul.oznaka }}-{{ zavihek_parent.modul.naziv }}</a></li>

            {% endif %}
            {% endfor %}

        </ul>
    </li>


    


