
<!--tab******************************** -->
<div id="procesna_dejanja" class="tab-pane active">
    <div class="profile-desk">
        {% include "pomanjkljivosti/pomanjkljivost/detail/200_content/tabs/tab_01.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="dokumentacija" class="tab-pane">
    <div class="profile-desk">
        {% include "pomanjkljivosti/pomanjkljivost/detail/200_content/tabs/tab_02.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="zaznamki" class="tab-pane">
    <div class="profile-desk">
        {% include "pomanjkljivosti/pomanjkljivost/detail/200_content/tabs/tab_03.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->
