<!-- zahtevek detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel panel-default p-0">
            <div class="panel-body p-0"> 



                <!--nav-tabs-->              
                <ul class="nav nav-tabs profile-tabs">
                    <li class="active"><a data-toggle="tab" href="#izkaznica"><b>I</b>zkaznica</a></li>
                    <li><a data-toggle="tab" href="#elementi"><b>E</b>lementi</a></li>
                    <li><a data-toggle="tab" href="#lastniki"><b>L</b>astniki</a></li>

                </ul>
                <!--end nav-tabs-->



                <!--tab-content-->
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="izkaznica" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>IZKAZNICA :</h1>
                            {% include "deli/delstavbe/detail/tabs/tab_01.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="elementi" class="tab-pane">
                        <div class="profile-desk">
                            <h1>ELEMENTI :</h1>
                            {% include "deli/delstavbe/detail/tabs/tab_02.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="lastniki" class="tab-pane">
                        <div class="profile-desk">
                            <h1>LASTNIKI :</h1>
                            {% include "deli/delstavbe/detail/tabs/tab_03.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>