{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}

    <li><a type="button" class="navbar-brand" data-toggle="modal" data-target="">
            <b>Uredi</b> Podatke</a></li>
    <li><a> | </a></li>

{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}


    <div class="jumbotron p-0 p-t-10">
        <small>{{ object.projektno_mesto.tip_elementa.naziv }}</small><br>
        <h3>{{ object.artikel.naziv }} ({{ object.projektno_mesto.oznaka }})</h3>
        
    </div><!-- end jumbotron -->

{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "deli/element/detail/content.html" %}
{% include "deli/element/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

<script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->