<!-- POSAMEZNE ENOTE V NAJEMU -->


    <div class="panel panel-default">                 
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>interna oznaka</th>
                                <th>oznaka elaborat</th>
                                <th>program</th>
                                <th>opis</th>
                                <th>lastnik</th>
                                <th>prejšnji lastnik</th>
                                <th>najemnik</th>
                                <th>status najema</th>
                                <th>plačnik stroškov o.v.</th>
                            </tr>
                        </thead>

                 
                        <tbody>
                            {% for object in lastniska_enota_interna_najem_list %}

                            <tr>

                            <!-- interna oznaka -->
                                <td><b><a href="">{{ object.oznaka }}</a></b></td>

                            <!-- oznaka elaborat -->
                                <td>{{ object.elaborat.oznaka }}</td>

                            <!-- program -->
                                <td>{{ object.elaborat.program.naziv }}</td>

                            <!-- opis -->
                                <td>{{ object.elaborat.opis }}</td>

                                




                                <!-- PODATKI O LASTNIKU -->
                            <!-- lastnik -->
                                <td>{{ object.prodaja.predaja_lastnine.kupec.naziv }}</td>
                                
                            <!-- prejšnji lastnik -->

                                <!-- če prejšnji lastnik ne obstaja -->
                                {% if not object.prodaja.predaja_lastnine.prodajalec %}
                                <td></td>
                                {% else %}
                                <td>
                                    {{ object.prodaja.predaja_lastnine.prodajalec.naziv }} | dne {{ object.prodaja.datum_predaje }}

                                </td>    
                                {% endif %}



                                <!-- PODATKI O NAJEMU -->
                                <!-- pod pogojem da najemnik obstaja -->
                                {% if object.najem.predaja_lastnine.kupec.naziv %}
                            <!-- najemnik -->
                                <td>{{ object.najem.predaja_lastnine.kupec.naziv }}</td>

                            <!-- status najema -->
                                <!-- v primeru da link na zahtevke obstaja ga prikaži -->
                                {% if object.najem.predaja_lastnine.zahtevek.pk %}
                                <td><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.najem.predaja_lastnine.zahtevek.id %}">v najemu od dne {{ object.najem.datum_predaje }}</a></td>
                                {% else %}
                                <td>v najemu od dne {{ object.najem.datum_predaje }}</td>
                                {% endif %}
                                
                                
                            <!-- placnik stroškov o.v. -->
                                <td>{{ object.najem.placnik.naziv }}</td>

                                {% else %}
                                <td></td>
                                <td></td>
                                <td>{{ object.prodaja.placnik.naziv }}</td>
                                    
                                
                                {% endif %}

                                <!-- podatki o prejšnjih lastnikih -->
                                


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


