{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}


    <!-- V ČAKANJU -->
        {% if object.status == 1 %}
        <li><a type="button" class="" data-toggle="modal" data-target=""><b>Uredi</b> Podatke</a></li>
        <li><a> | </a></li>
        <li><a align="center" href="{% url 'moduli:delovninalogi:dn_update_vcakanju' object.id %}">Planiraj</a></li>
        {% endif %}

        {% if object.status == 2 %}
        <li><a type="button" class="" data-toggle="modal" data-target=""><b>Uredi</b> Podatke</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addDelo">
            <b>Dodaj</b> Delo</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addMaterial">
                <b>Dodaj</b> Material</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addDokumentacija">
                <b>Dodaj</b> Dokument</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addZaznamek">
                <b>Dodaj</b> Zaznamek</a></li>
        
        {% endif %}

        
        {% if object.status == 3 %}
        <li><a type="button" class="" data-toggle="modal" data-target=""><b>Uredi</b> Podatke</a></li>
        <li><a> | </a></li>
        <li><a align="center" href="{% url 'moduli:delovninalogi:dn_update_vresevanju' object.id %}">Zaključi</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addDelo">
            <b>Dodaj</b> Delo</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addMaterial">
                <b>Dodaj</b> Material</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addDokumentacija">
                <b>Dodaj</b> Dokument</a></li>
        <li><a> | </a></li>
        <li><a type="button" class="" data-toggle="modal" data-target="#addZaznamek">
                <b>Dodaj</b> Zaznamek</a></li>
        
        {% endif %}

        <!-- ZAKLJUČENO -->
        {% if object.status == 4 %}
        <li><a type="button" class="" data-toggle="modal" data-target=""><b>Uredi</b> Podatke</a></li>
        <li><a> | </a></li>
        <li><a align="center" href="">Natisni Delovni Nalog</a></li>
        {% endif %}
    

{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}

    <div class="jumbotron">
        {{ object.opravilo.naziv }} ({{object.oznaka}})<br>
            - status dn<br>
            - opis izvedenih del
    </div><!-- end jumbotron -->



{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content %}
{% include "delovninalogi/delovninalog/detail/content.html" %}
{% include "delovninalogi/delovninalog/detail/modal.html" %}
{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}
{% endblock %}
<!-- end JAVASCRIPT EXTRA -->