<!-- zahtevek detail : HEADER -->

<!--header-glavni-->
<div class="jumbotron">
    <h4>
        <div class="row">
            <div class="col-xs-6 col-md-6"><!--prva vrstica-->
                {% include "deli/element/detail/header/glavni/stolpec_1.html" %}
            </div><!--end prva vrstica-->

            <div class="col-xs-6 col-md-6"><!--druga vrstica-->
                {% include "deli/element/detail/header/glavni/stolpec_2.html" %}
            </div><!--end druga vrstica-->
        </div><!--row-->
    </h4>

    <!--gumb VEČ PODATKOV-->
    <button type="button" class="btn btn-info pull-right" data-toggle="collapse" data-target="#vec_podatkov">
        Več podatkov
    </button>

</div>
<!--end header-glavni-->


<!--header pomozni : ODPRE SE GA PO POTREBI-->
<div id="vec_podatkov" class="collapse">
    <div class="jumbotron">
        <!--<h4>-->
            <div class="row">
                <div class="col-xs-6 col-md-6"><!--prva vrstica-->


                    <!--IF : ŠKODNI DOGODEK-->
                    {% if object.zahtevek_skodni_dogodek %}
                        {% include "zdeli/element/detail/header/pomozni/skodni_dogodek/stolpec_1.html" %}
                    {% endif %} 

                    <!--IF : SESTANEK-->
                    {% if object.zahtevek_sestanek %}
                        {% include "deli/element/detail/header/pomozni/sestanek/stolpec_1.html" %}
                    {% endif %} 

                    <!--IF : IZVEDBA-DEL-->
                    {% if object.zahtevek_izvedba_dela %}
                        {% include "deli/element/detail/header/pomozni/izvedba_del/stolpec_1.html" %}
                    {% endif %}

                    
                </div><!--end prva vrstica-->

                <div class="col-xs-6 col-md-6"><!--druga vrstica-->

                    <!--IF : ŠKODNI DOGODEK-->
                    {% if object.zahtevek_skodni_dogodek %}
                        {% include "deli/element/detail/header/pomozni/skodni_dogodek/stolpec_2.html" %}
                    {% endif %} 

                    <!--IF : SESTANEK-->
                    {% if object.zahtevek_sestanek %}
                        {% include "deli/element/detail/header/pomozni/sestanek/stolpec_2.html" %}
                    {% endif %} 

                    <!--IF : IZVEDBA-DEL-->
                    {% if object.zahtevek_izvedba_dela %}
                        {% include "deli/element/detail/header/pomozni/izvedba_del/stolpec_2.html" %}
                    {% endif %}

                </div><!--end druga vrstica-->
            </div><!--row-->
        <!--</h4>-->
    </div>
</div>
<!--end header-pomozni-->