<!--tab******************************** -->
<div id="podatki" class="tab-pane active">
    <div class="profile-desk">
        {% include "dogodki/dogodek/detail/200_content/tabs/tab_01.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="dokumentacija" class="tab-pane">
    <div class="profile-desk">
        {% include "dogodki/dogodek/detail/200_content/tabs/tab_03.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="zaznamki" class="tab-pane">
    <div class="profile-desk">
        {% include "dogodki/dogodek/detail/200_content/tabs/tab_04.html" %}
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->
