<!-- TAB_03 Content -->


<div class="table-resposnive">
Izdana pošta:
    <table class="table table-bordered table-striped">
    <tbody>
        {% for dokument in izdana_posta_partnerja %}



        <tr>
            <td>{{ forloop.counter }}</td>
            <td><b>{{ dokument.vrsta_dokumenta.naziv }}</b></td>
            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">{{ dokument.oznaka }}</a></td>
            <td>{{ dokument.naziv }}</td>
            <td><a href="{% url 'moduli:posta:dokument_from_partner_update' dokument.pk %}">Edit</a></td>
        </tr>

        {% endfor %}

    </tbody>
</table>

<table class="table table-condensed">
Prejeta pošta:
    <tbody>
        {% for dokument in prejeta_posta_partnerja %}


        <tr>
            <td>{{ forloop.counter }}</td>
            <td><b>{{ dokument.vrsta_dokumenta.naziv }}</b></td>
            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">{{ dokument.oznaka }}</a></td>
            <td>{{ dokument.naziv }}</td>
            <td><a href="{% url 'moduli:posta:dokument_from_partner_update' dokument.pk %}">Edit</a></td>
        </tr>

        {% endfor %}

    </tbody>
</table>
</div>
