<!-- Servisna knjiga na sistemu -->


<table id="datatable" class="table table-bordered table-hover">
        <tr>
            <th>oznaka</th>
            <th>opravilo</th>
            <th>izvedeno dne</th>
            <th>stroškovno mesto</th>
        </tr>


    {% for dn in servisna_knjiga %}

    <tr>
        <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.pk %}">{{ dn.oznaka }}</a></td>
        <td>{{ dn.opravilo.naziv }}({{ dn.opravilo.oznaka }})</td>
        <td>{{ dn.datum_stop }}</td>
        {% if dn.strosek %}
        <td>{{ dn.strosek.vrsta_stroska.oznaka }} | {{ dn.strosek.vrsta_stroska.naziv }}</td>
        {% else %}
        <td>n/a</td>
        {% endif %}




            
        </td>
    </tr>

    {% endfor %}

</table>
