<!-- Servisna Knjiga -->

<table id="datatable" class="table table-bordered table-hover">
        <tr>
            <th>oznaka</th>
            <th>opravilo</th>
            <th>izvedeno dne</th>
            <th>stroškovno mesto</th>
        </tr>


    {% for dn in delovninalog_list %}

    <tr>
        <td><a href="{% url 'moduli:delovninalogi:dn_detail' dn.pk %}">{{ dn.oznaka }}</a></td>
        <td>{{ dn.opravilo.naziv }}({{ dn.opravilo.oznaka }})</td>
        <td>{{ dn.datum_stop }}</td>
        <td>
            {% for strosek in dn.strosek_set.all %}
            
            <table>

                <tr>
                    <td>{{ strosek.vrsta_stroska.naziv }} ({{ strosek.vrsta_stroska.oznaka }})</td>
                    <td>vrednost</td>
                </tr>
                {% endfor %}

            </table>

            
        </td>
    </tr>

    {% endfor %}

</table>
