{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->


<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->


<!-- Navbar-Left podatki -->
{% block navbar_right %}
{% endblock %}
<!-- end Navbar-Left podatki -->


<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}
             
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>zap. št.</th>
                            <th>Naziv</th>
                            <th>Naslov</th>
                            <th>Davčna št.</th>
                            <th>Matična št.</th>
                        </tr>
                    </thead>

             
                    <tbody>
                        {% for object in object_list %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><b><a href="{% url 'moduli:partnerji:partner_detail' object.id %}">{{ object.kratko_ime }}</a></b></td>
                            <td>{{ object.naslov }}, {{ object.posta.postna_stevilka }} {{ object.posta.naziv }}</td>
                            <td>{{ object.davcna_st }}</td>
                            <td>{{ object.maticna_st }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
            } );
        </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->