{% extends "posta/dokument/list/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Arhiviranje Pošte{% endblock %}

{% block main_content %}

<table class="table">

    <tr>
        <td>oznaka</td>
        <td>datum</td>
        <td>predmet</td>
        <td>priponka</td>
    </tr>

    {% for dokument in object_list %}
    <tr>
        <td><b><a href="{% url 'moduli:posta:dokument_detail' dokument.pk %}">{{ dokument.oznaka }}</a></b></td>
        <td>{{ dokument.naziv }}</td>
        <td>{{ dokument.datum }}</td>
        <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}">priponka</a></td>
    </tr>
    {% endfor %}

</table>


<!-- Modal ADD Arhiviranje-->
<div class="modal fade" id="addArhiviranje" tabindex="-1" role="dialog" aria-labelledby="addArhiviranje">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nov Transakcijski Račun (IBAN)</h4>
            </div>


            <form action="" method="POST">{% csrf_token %}
                <div class="modal-body">
                    {{ arhiviranje_form | crispy }}   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="btn btn-primary">Shrani</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}
<!-- end CONTENT -->
