<!--tab******************************** -->
<div id="podatki" class="tab-pane active">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_01.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="opravila" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_02.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="dokumentacija" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_03.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="zaznamki" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_04.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="podzahtevki" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_05.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="predaja_lastnine" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_06.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="kljuci" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_08.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="dogodki" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_07.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="narocila" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_09.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="pomanjkljivosti" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_10.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="reklamacije" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_11.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->



<!--tab******************************** -->
<div id="sestanki" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_12.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->


<!--tab******************************** -->
<div id="povprasevanje" class="tab-pane">
    <div class="profile-desk">
        {% include "zahtevki/zahtevek/detail/200_content/tabs/tab_13.html" %}  
    </div> <!-- end profile-desk -->
</div> <!-- end tab -->

