

<div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <th>Oznaka</th>
                <th>Naziv</th>
                <th>Vrsta Dokumenta</th>
                <th>Avtor</th>
                <th>Naslovnik</th>
            </tr>

            {% for object in object_list %}
            <tr>
                <td><b><a href="" onclick="opener.dismissRelatedLookupPopup(window, {{ object.pk }})">{{ object.dokument.oznaka }}</a></b></td>
                <td>{{ object.dokument.naziv }}</td>
                <td>{{ object.dokument.vrsta_dokumenta.naziv }}</td>
                <td>{{ object.dokument.avtor.kratko_ime }}</td>
                <td>{{ object.dokument.naslovnik.kratko_ime }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

{% include 'core/pagination.html' with form_target='list-filter' %}