

<div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <th>zap. št.</th>
                <th>Naziv</th>
                <th>Naslov</th>
                <th>Davčna št.</th>
                <th>Matična št.</th>
            </tr>

            {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><b><a href="" onclick="opener.dismissRelatedLookupPopup(window, {{ object.pk }})">{{ object.kratko_ime }}</a></b></td>
                <td>{{ object.naslov }}, {{ object.posta.postna_stevilka }} {{ object.posta.naziv }}</td>
                <td>{{ object.davcna_st }}</td>
                <td>{{ object.maticna_st }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

{% include 'core/pagination.html' with form_target='list-filter' %}