
{% load staticfiles i18n %}


<!--  partner popup list -->

<a 
	href="{% url 'moduli:partnerji:partner_popup_list' %}" 
	class="add-another" id="add_id_{{ field }}" 
	onclick="return showAddAnotherPopup(this);"
>

	<!-- Icon to open POP Up select from list -->
	<i class="fa fa-search fa-lg" aria-hidden="true" alt="Add Another"></i>

</a>



<!--  partner popup create -->

<a 
	href="{% url 'moduli:partnerji:partner_popup_create' %}" 
	class="add-another" id="add_id_{{ field }}" 
	onclick="return showAddAnotherPopup(this);"
>

	<!-- Icon to open POP Up select from list -->
	<i class="fa fa-plus-circle fa-lg" aria-hidden="true" alt="Add Another"></i>

</a>