{% extends "moduli/detail.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% include trr_modal.html %}

<!-- sidebar podatki -->
{% block navbar %}
    
    <li>
        <a class="bg-{{ modul_zavihek.modul.barva }}" href="{% url 'moduli:detail' modul_zavihek.modul.pk %}"><i class="ion-home"></i>
            <span class="nav-label">{{ modul_zavihek.modul.naziv }}</span>
        </a>
    </li>

    {% for zavihek in modul_zavihek.modul.zavihek_set.all %}
    <li><a href="{{ zavihek.urlreference }}">{{ zavihek.naziv }}</a></li>
    {% endfor %}

{% endblock %}



{% block naziv_modula %}

    <a class="navbar-brand">
        <b> Opcije -- </b>
    </a>

{% endblock %}


{% block left-navbar %}

    <li><a type="button" class="navbar-brand" data-toggle="modal" data-target="">
            <b>Uredi</b> Podatke</a></li>
    <li><a> | </a></li>
    <li><a type="button" class="navbar-brand" data-toggle="modal" data-target="#addTRR">
            <b>Dodaj</b> TR Račun</a></li>
    <li><a> | </a></li>
    <li><a type="button" class="navbar-brand" data-toggle="modal" data-target="#addOSEBA">
            <b>Dodaj</b> Osebo</a></li>

{% endblock %}



{% block content %}

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-picture" style="background-image:url('img/bg_6.jpg')">
              <span class="bg-picture-overlay"></span><!-- overlay -->
              <!-- meta -->
        <div class="jumbotron">
        <h1>{{ object.kratko_ime }} ({{object.davcna_st}})</h1><br>
        {{ object.naslov }}, {{ object.posta.postna_stevilka }} {{ object.posta.naziv }}, {{ object.posta.drzava.naziv }}
        </div>
 
              <div class="box-layout meta bottom">
                <div class="col-sm-6 clearfix">
                  <span class="img-wrapper pull-left m-r-15"><img src="img/avatar-2.jpg" alt="" style="width:64px" class="br-radius"></span>
                  <div class="media-body">
                  </div>
                </div>
                <div class="col-sm-6">

                  <div class="pull-right">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle btn btn-primary" href="#"> Following <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Poke</a></li>
                            <li><a href="#">Private message</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Unfollow</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ meta -->
            </div>
        </div>
    </div>

    <div class="row m-t-30">
        <div class="col-sm-12">
            <div class="panel panel-default p-0">
                <div class="panel-body p-0"> 
                    <ul class="nav nav-tabs profile-tabs">
                        <li class="active"><a data-toggle="tab" href="#izkaznica">Izkaznica</a></li>
                        <li class=""><a data-toggle="tab" href="#trr">TRR</a></li>
                        <li class=""><a data-toggle="tab" href="#osebe">Osebe</a></li>
                    </ul>

                    <div class="tab-content m-0"> 

                    <!-- PODATKI -->
                    <div id="izkaznica" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>IZKAZNICA :</h1>
                        
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td><b>Davčna številka</b></td>
                                        <td>
                                            <a href="#" class="ng-binding">{{object.davcna_st}}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Matična Številka</td>
                                        <td><a href="#" class="ng-binding">{{ object.maticna_st }}</a></td>
                                    </tr>
                                     <tr>
                                        <td>Davčni Zavezanec</td>
                                        <td><a href="#" class="ng-binding">{% if object.davcni_zavezanec %}DA{% else %}NE{% endif %}</a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Naziv</b></td>
                                        <td>
                                        <a href="" class="ng-binding">
                                            {{ object.dolgo_ime }}
                                        </a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Naslov</b></td>
                                        <td>
                                        <a href="" class="ng-binding">
                                            {{ object.naslov }}, {{ object.posta.postna_stevilka }} {{ object.posta.naziv }}, {{ object.posta.drzava.naziv }}
                                        </a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end profile-desk -->
                    </div> <!-- podatki -->


                    <!-- TRR -->
                    <div id="trr" class="tab-pane active">
                        <div class="profile-desk">
                            <h1>TR Račun :</h1>
                        
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td>TRR {{ forloop.counter }}</td>
                                        <td>
                                            {% for trr in object.trracun_set.all %}
                                                {{ trr.iban }} ({{trr.banka.bic_koda}})<br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end profile-desk -->
                    </div> <!-- about-me -->

                    <!-- settings -->
                    <div id="edit-profile" class="tab-pane">
                        <div class="user-profile-content">
                            <form role="form">
                                <div class="form-group">
                                    <label for="FullName">Full Name</label>
                                    <input type="text" value="John Doe" id="FullName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" value="first.last@example.com" id="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Username">Username</label>
                                    <input type="text" value="john" id="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="RePassword">Re-Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="AboutMe">About Me</label>
                                    <textarea style="height: 125px;" id="AboutMe" class="form-control">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                        </div>
                    </div>


                    <!-- profile -->
                    <div id="projects" class="tab-pane">
                        <div class="row m-t-10">
                            <div class="col-md-12">
                                <div class="portlet"><!-- /primary heading -->
                                    <div id="portlet2" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Project Name</th>
                                                            <th>Start Date</th>
                                                            <th>Due Date</th>
                                                            <th>Status</th>
                                                            <th>Assign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-info">Work in Progress</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Velonic Frontend</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-success">Pending</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-pink">Done</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Velonic Frontend</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-purple">Work in Progress</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-warning">Coming soon</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- /Portlet -->
                            </div>
                        </div>
                    </div>
                </div>
 
            </div> 
        </div>
    </div>
</div>




    <!-- colapse group -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- podatki ===================================================================-->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Podatki
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="table-condensed table-hover table-bordered table-striped">
                        <table class="table">
                            <tr>
                                <td>Dolgi naziv</td>
                                <td>{{ object.dolgo_ime }}</td>
                            </tr>
                            <tr>
                                <td>Kratki naziv</td>
                                <td>{{ object.kratko_ime }}</td>
                            </tr>
                            <tr>
                                <td>Naslov</td>
                                <td>{{ object.naslov }},<br>
                                    {{ object.posta.postna_stevilka }} {{ object.posta.naziv }},<br>
                                    {{ object.posta.drzava.naziv }}
                                </td>
                            </tr>
                            <tr>
                                <td>Davčni Zavezanec</td>
                                <td>{% if object.davcni_zavezanec %}DA{% else %}NE{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Davčna Številka</td>
                                <td>{{ object.davcna_st }}</td>
                            </tr>
                            <tr>
                                <td>Matična Številka</td>
                                <td>{{ object.maticna_st }}</td>
                            </tr>
                            
                            <tr>
                                <td>TRR 
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTRR">
                                       <i class="fa fa-plus"></i><small>Dodaj</small> </button>


                                    
                                {{ forloop.counter }}</td>

                                <td>
                                    {% for trr in object.trracun_set.all %}
                                        {{ trr.iban }} ({{trr.banka.bic_koda}})<br>
                                    {% endfor %}
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Osebe ===================================================================
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Osebe
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                    <div class="table-condensed table-hover table-bordered table-striped">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#novaOseba">
                        Dodaj Osebo
                        </button>
                        <table class="table">
                            <tr>
                                <th>Priimek in Ime</th>
                                <th>Status</th>
                                <th>Kvalifikacije</th>
                            </tr>

                            {% for oseba in object.oseba_set.all|dictsort:"status" %}
                            <tr>
                                <td>{{ oseba.priimek }} {{ oseba.ime }}</td>
                                <td>{{ oseba.status }}</td>
                                <td>{{ oseba.kvalifikacije }}</td>
                            </tr>
                            {% endfor %}

                        </table>

                        <div class="modal fade" id="novaOseba" tabindex="-1" role="dialog" aria-labelledby="novaOseba">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            
                                            Nova Oseba
                                        
                                        </h4>
                                    </div>
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="modal-body">
                                            {{ oseba_form|crispy  }}   
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                                            <button type="submit" class="btn btn-primary">Shrani</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- Dokumentacija ===================================================================
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Dokumentacija
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">-->
                    <!-- INSERT HERE 
                    <div class="table-condensed table-hover table-bordered table-striped">
                    <table class="table">
                        <tr>
                            <th>številka</th>
                            <th>vrsta</th>
                            <th>opis</th>
                            <th>prejeto dne</th>
                            <th>priponka</th>
                        </tr>
                    {% for dokument in object.dokument_set.all %}

                        <tr>
                            <td>{{ dokument.oznaka }}</td>
                            <td>{{ dokument.vrsta_dokumenta.naziv }}</td>
                            <td>{{ dokument.opis }}</td>
                            <td>{{ dokument.datum_prejema }}</td>
                            <td><a href="{{ MEDIA_URL }}{{ dokument.priponka }}"><i class="fa fa-file-pdf-o"></i></a></td>
                        </tr>
                    {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!-- Modal ADD TRR-->
<div class="modal fade" id="addTRR" tabindex="-1" role="dialog" aria-labelledby="addTRR">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nov Transakcijski Račun (IBAN)</h4>
            </div>


            <form action="" method="POST">{% csrf_token %}
                <div class="modal-body">
                    {{ trr_form|crispy  }}   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                    <button type="submit" class="btn btn-primary">Shrani</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal ADD OSEBA-->
<div class="modal fade" id="addOSEBA" tabindex="-1" role="dialog" aria-labelledby="addOSEBA">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            
                                            Nova Oseba
                                        
                                        </h4>
                                    </div>
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="modal-body">
                                            {{ oseba_form|crispy  }}   
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                                            <button type="submit" class="btn btn-primary">Shrani</button>
                                        </div>
                                    </form>
                                </div>
                            </div>




{% endblock %}
