{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:posta:home' %}">Nazaj</a> | <a href="{% url 'moduli:posta:create' %}">Nov vnos</a>
    </i></small>

<div class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-md-6">
            <h1>Pošta za Likvidacijo</h1>
            </div>

            <div class="col-xs-6 col-md-6" align="right">
                <form action="" method="GET">
                    <input type="text" name="q" id="search_text" />
                    <input type="submit" value="search">
                    <a type="button" class="btn btn-default" href="{% url 'moduli:posta:list_likvidacija' %}" >reset</a>
                </form>
            </div>
        </div>
</div>

    <div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <th>št. dokumenta</th>
                <th>vrsta dokumenta</th>
                <th>pošiljatelj</th>
                <th>prejeto dne</th>
                <th>opis</th>
                <th>priponka</th>
            </tr>

            {% for object in object_list %}
            <tr>
                <td><b><a href="{% url 'moduli:posta:list_likvidacija' %}">{{ object.oznaka }}</a></b></td>
                <td>{{ object.vrsta_dokumenta }}</td>
                <td>{{ object.posiljatelj }} </td>            
                <td>{{ object.datum_prejema }} </td>
                <td>{{ object.opis }}</td>
                <td><a href="{{ MEDIA_URL }}{{ object.priponka }}"><i class="fa fa-file-pdf-o"></i>
</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}