{% extends "moduli/modul_list.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block content2 %}

<div class="container">
    <small><i>
        <a href="{% url 'moduli:home' %}">Nazaj</a> | <a href="">Nov vnos</a>
    </i></small>

<div class="jumbotron">
    <h1>Pošta</h1>
</div>

    <div class="table-condensed table-hover table-bordered">
        <table class="table">

            <tr>
                <td><a href="" data-toggle="modal" data-target="#addDokument">Nova Pošta</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'moduli:posta:aktivnost_create' %}">NOVA 2</a></td>
            </tr>
            <tr>
                <td><b><a href="{% url 'moduli:posta:posta_arhiviranje_list' %}">Za Arhiviranje</a></b></td>
            </tr>
            <tr>
                <td><b><a href="">Likvidirana/Arhivirana Pošta</a></b></td>
            </tr>
            
        </table>
    </div>


<!-- Modal ADDdokument-->
        <div class="modal fade" id="addDokument" tabindex="-1" role="dialog" aria-labelledby="addDokument">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nov Dokument</h4>
                    </div>


                    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">
                            {{ aktivnost_form|crispy  }}  
                            {{ dokument_form|crispy  }}   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                            <button type="submit" class="btn btn-primary">Shrani</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}