{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}


<!-- #########################################################################-->
<!--  NAVIGAIJA -->
<!-- #########################################################################-->
{% block navigacija %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock navigacija %}



<!-- #########################################################################-->
<!--  SIDEBAR -->
<!-- #########################################################################-->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock sidebar %}



{% block navbar_right %}
<li class="dropdown">
    <a href="#" data-toggle="dropdown"><b class="btn_ukazi navbar-btn">Admin</b></a>
    <ul class="dropdown-menu">
    </ul>
</li>
<li class="dropdown">
    <a href="#" data-toggle="dropdown"><b class="btn_ukazi navbar-btn">Ukazi</b></a>
    <ul class="dropdown-menu">
        {% block navbar_right_podrobno %}{% endblock navbar_right_podrobno %}
    </ul>
</li>
{% endblock navbar_right %}



{% block content-header %}
<div class="row ">
    <div class="col-sm-12 col-md-12">
        <div class="panel border_hairline_grey">
            <div class="panel-heading no-collapse background_dark_grey_header">
                {{ modul_zavihek.naziv }}
            </div>

            <table class="table table-bordered background_yellow">
                <thead>
                </thead>
                <tbody>
                {% block content-header-content %}{% endblock content-header-content %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content-header %}



{% block content-body %}
<div class="row m-t-30  ">
    <div class="col-sm-12">
        <div class="panel no_padding">
            <div class="panel-heading background_dark_grey no_padding">
                <ul class="nav nav-pills">
                    {% block content-body-items %}{% endblock %}
                </ul>
            </div>

            <div class="panel-body background_grey" >
                <div class="tab-content">
                    {% block content-body-tabs %}{% endblock %}
                    {% block content-modal %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content-body%}



{% block javascript_extra %}


{% endblock javascript_extra %}
