<!-- MATERIAL -->

<!-- Ko še ni registriranih vnosov -->
{% if not material_list %}
    Delovni nalog še nima vnešenega materiala.

<!-- Ko vnosi že obstajajo -->
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                <th>oznaka</th>
                <th>naziv</th>
                <th>prevzel iz skladišča</th>
                <th>količina</th>
                <th>Edit</th>
            </tr>

        </thead>
        <tbody>

            {% for material in material_list %}

            <tr>
                <td>{{ material.artikel.oznaka }}</td>
                <td>{{ material.artikel.naziv }}</td>
                <td>{{ material.likvidiral.ime }} {{ material.likvidiral.priimek }}</td>
                <td>{{ material.kom }}</td>

                <td><a href="{% url 'moduli:skladisce:skladisce_dnevnik_update_from_delovninalog' material.pk %}">Uredi</a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}