<!-- naslov -->
{% for skupina in object_list %}
{{ skupina.oznaka }}. {{ skupina.naziv }}


<!-- posamezni paneli -->
{% for podskupina in skupina.sorted_podskupinadelov_set %}
<div class="panel panel-info">
    <!-- naslov panela -->
    <div class="panel-heading">{{ podskupina.oznaka }}. {{ podskupina.naziv }}</div>
    <table class="table">
        <thead>
            <th>oznaka</th>
            <th>opis</th>
            <th>funkcija</th>
            <th>edit</th>
        </thead>

        <!-- posamezni vnosi delov -->
        {% for del in podskupina.sorted_delstavbe_set %}
        <tbody>
            <td><b><a href="{% url 'moduli:deli:del_detail' del.pk %}">({{ del.oznaka }})</a></b></td>
            <td>{{ del.naziv }}</td>
            <td>{{ del.funkcija }}</td>
            <td>
                <a type="button" href="{% url 'moduli:deli:del_update' del.pk %}"> 
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tbody>
        {% endfor %}


    </table>
</div>

{% endfor %}
{% endfor %}
