{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

<!-- SideBar podatki -->
{% block sidebar %}
    {% include "moduli/detail_sidebar.html" %}
{% endblock %}
<!-- end SideBar podatki -->



<!-- Navbar Title -->
{% block navbar_title %}
    {% include "moduli/detail_navbar_title.html" %}
{% endblock %}
<!-- end Navbar Title -->



<!-- Navbar-Left podatki -->
{% block navbar_left %}
{% endblock %}
<!-- end Navbar-Left podatki -->



<!-- PAGE TITLE -->
{% block content_title %}
<!-- Title -->{{ modul_zavihek.naziv }}<!-- end Title -->
{% endblock %}
<!-- end PAGE TITLE -->



<!-- PAGE CONTENT -->
{% block content-body %}

    <div class="panel panel-default">                 
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table id="datatable" class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>interna oznaka</th>
                                <th>oznaka elaborat</th>
                                <th>program</th>
                                <th>opis</th>
                                <th>lastnik</th>
                                <th>prejšnji lastnik</th>
                                <th>najemnik</th>
                                <th>status najema</th>
                                <th>plačnik stroškov o.v.</th>
                            </tr>
                        </thead>

                 
                        <tbody>
                            {% for object in object_list %}

                            <tr>

                            <!-- interna oznaka -->
                                <td><b><a href="">{{ object.oznaka }}</a></b></td>

                            <!-- oznaka elaborat -->
                                <td>{{ object.elaborat.oznaka }}</td>

                            <!-- program -->
                                <td>{{ object.elaborat.program.naziv }}</td>

                            <!-- opis -->
                                <td>{{ object.elaborat.opis }}</td>

                                




                                <!-- PODATKI O LASTNIKU -->
                            <!-- lastnik -->
                                <td>{{ object.prodaja.predaja_lastnine.kupec.kratko_ime }}</td>
                                
                            <!-- prejšnji lastnik -->

                                <!-- če prejšnji lastnik ne obstaja -->
                                {% if not object.prodaja.predaja_lastnine.prodajalec %}
                                <td></td>
                                {% else %}
                                <td>
                                    <!-- v primeru da link na zahtevke obstaja ga prikaži -->
                                    {% if object.prodaja.predaja_lastnine.zahtevek.pk %}
                                    <a href="{% url 'moduli:zahtevki:zahtevek_detail' object.prodaja.predaja_lastnine.zahtevek.id %}">{{ object.prodaja.predaja_lastnine.prodajalec.kratko_ime }} | dne {{ object.prodaja.datum_predaje }}</a>
                                    {% else %}
                                    {{ object.prodaja.predaja_lastnine.prodajalec.kratko_ime }} | dne {{ object.prodaja.datum_predaje }}
                                    {% endif %}
                                </td>    
                                {% endif %}



                                <!-- PODATKI O NAJEMU -->
                                <!-- pod pogojem da najemnik obstaja -->
                                {% if object.najem.predaja_lastnine.kupec.kratko_ime %}
                            <!-- najemnik -->
                                <td>{{ object.najem.predaja_lastnine.kupec.kratko_ime }}</td>

                            <!-- status najema -->
                                <!-- v primeru da link na zahtevke obstaja ga prikaži -->
                                {% if object.najem.predaja_lastnine.zahtevek.pk %}
                                <td><a href="{% url 'moduli:zahtevki:zahtevek_detail' object.najem.predaja_lastnine.zahtevek.id %}">v najemu od dne {{ object.najem.datum_predaje }}</a></td>
                                {% else %}
                                <td>v najemu od dne {{ object.najem.datum_predaje }}</td>
                                {% endif %}
                                
                                
                            <!-- placnik stroškov o.v. -->
                                <td>{{ object.najem.placnik.kratko_ime }}</td>

                                {% else %}
                                <td></td>
                                <td></td>
                                <td>{{ object.prodaja.placnik.kratko_ime }}</td>
                                    
                                
                                {% endif %}

                                <!-- podatki o prejšnjih lastnikih -->
                                


                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- end PAGE CONTENT -->



<!-- JAVASCRIPT EXTRA -->
{% block javascript_extra %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        } );
    </script>

{% endblock %}
<!-- end JAVASCRIPT EXTRA -->