{% load staticfiles i18n %}


    <!-- VELONIC -->

    <link href="{% static 'velonic/assets/notifications/notification.css' %}" rel="stylesheet" />

    <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'velonic/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'velonic/css/bootstrap-reset.css' %}" rel="stylesheet">

    <!--Icon-fonts css-->
    <link href="{% static 'velonic/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'velonic/assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'velonic/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'velonic/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'velonic/css/style-responsive.css' %}" rel="stylesheet" />


<header>
</header>

<body>
<div class="jumbotron">
<h1>EDA 5</h1>
</div>
<div class="container">
<p>
Projekt EDA 5 je informacijski sistem za upravljanje stavbe EDA center Nova Gorica.
</p>
</div>


</body>


<div class="container">
    <div class="row" align="left">
        <br><br><br><br>
        <img src="{% static 'images/eda5_logo.png' %}" alt="EDA 5">
        

        <a href="{% url 'moduli:home' %}"><b>Vstopi!</b></a>



   

     </div>

</div>
    

