<!-- Podatki -->

<table class="table">

    <tr>
        <td><small><b>oznaka</b></small></td>
        <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
    </tr>
    <tr>
        <td><small><b>predmet</b></small></td>
        <td><b style="color:#0000FF">{{ object.predmet }}</b></td>
    </tr>

    {% if object.narocilo_dokument %}
    <tr>
        <td><small><b>vrsta</b></small></td>
        <td>Naročilo po Dokumentu</td>
    </tr>
    <tr>
        <td><small><b>Priponka</b></small></td>
        <td>
            {% for arhiviranje in object.narocilo_dokument.arhiviranje_set.all %}
            <a href="{{ MEDIA_URL }}{{ arhiviranje.dokument.priponka }}" target="_blank"><li>{{ arhiviranje.dokument.priponka }}</li></a>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% if object.narocilo_telefon %}
    <tr>
        <td><small><b>vrsta</b></small></td>
        <td>Naročilo po Telefonu</td>
    </tr>
    {% endif %}

    </tr>
    <tr>
        <td><small><b>Naročeno dne</b></small></td>
        <td><b>{{ object.datum_narocila }}</b></td>
    </tr>
    <tr>
        <td><small><b>Velja do</b></small></td>
        <td><b>{{ object.datum_veljavnosti }}</b></td>
    </tr>
    <tr>
        <td><small><b>Izvajalec</a></b></small></td>
        <td><b><a href="{% url 'moduli:partnerji:partner_detail' object.izvajalec.pk %}">{{ object.narocnik.kratko_ime }} ({{ object.narocnik.davcna_st }})</a></b></td>
    </tr>
    <tr>
        <td><small><b>Izvajalec</a></b></small></td>
        <td><b><a href="{% url 'moduli:partnerji:partner_detail' object.izvajalec.pk %}">{{ object.izvajalec.kratko_ime }} ({{ object.izvajalec.davcna_st }})</a></b></td>
    </tr>


</table>
