<!-- Podatki -->

<table class="table">

    <tr>
        <td><small><b>oznaka</b></small></td>
        <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
    </tr>
    <tr>
        <td><small><b>predmet</b></small></td>
        <td><b style="color:#0000FF">{{ object.predmet }}</b></td>
    </tr>
    <tr>
        <td><small><b>vrsta</b></small></td>
        {% if narocilo_pogodba %}
        <td>Pogodbeno Naročilo</td>
        {% endif %}
        {% if narocilo_telefon %}
        <td>Naročilo po Telefonu</td>
        {% endif %}
    </tr>
    <tr>
        <td><small><b>Naročeno dne</b></small></td>
        <td><b>{{ object.datum_narocila }}</b></td>
    </tr>
    <tr>
        <td><small><b>Velja do</b></small></td>
        <td><b>{{ object.datum_veljavnosti }}</b></td>
    </tr>
    <tr>
        <td><small><b>Naročnik</b></small></td>
        <td><b><a href="">{{ object.narocnik.naziv }}</a></b></td>
    </tr>
    <tr>
        <td><small><b>Izvajalec</a></b></small></td>
        <td><b><a href="{% url 'moduli:partnerji:partner_detail' object.izvajalec.pk %}">{{ object.izvajalec.kratko_ime }} ({{ object.izvajalec.davcna_st }})</a></b></td>
    </tr>


</table>


</table>