

<div class="table-condensed table-hover table-bordered">
        <table class="table">
            <tr>
                <th>Priimek in Ime</th>
                <th>Kvalifikacije</th>
                <th>Partner</th>
            </tr>

            {% for object in object_list %}
            <tr>
                <td><b><a href="" onclick="opener.dismissRelatedLookupPopup(window, {{ object.pk }})">{{ object.priimek }} {{ object.ime }}</a></b></td>
                <td>{{ object.kvalifikacije }}</td>
                <td>{{ object.podjetje.kratko_ime }} ({{ object.podjetje.davcna_st }})</td>
            </tr>
            {% endfor %}

        </table>
    </div>

{% include 'core/pagination.html' with form_target='list-filter' %}