{% load staticfiles i18n %}
{% load crispy_forms_tags %}

        <link href="{% static 'aircraft/lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'aircraft/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'aircraft/stylesheets/theme.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'aircraft/stylesheets/premium.css' %}" rel="stylesheet" type="text/css">
        <!---Project css-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
        <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}" type="text/javascript" ></script>

            <h1>Seznam oseb:</h1>

                <form id="list-filter" action="">


                    <label name="" id="" input="{{ form.oznaka.html_name }}">{{ form.oznaka.label}}</label>
                    <input name="{{ form.oznaka.html_name }}" value="{{ form.oznaka.value }}" type="search">
                    
                    <label name="" id="" input="{{ form.naziv.html_name }}">{{ form.naziv.label}}</label>
                    <input name="{{ form.naziv.html_name }}" value="{{ form.naziv.value }}" type="search">

                    

                    <button type="submit" name="page" value="1">{% trans 'Search' %}</button>

                </form>

                <div class="results">
                  {% include 'partnerji/oseba/popup/popup_filtered_list.html' %}
                </div>





