{% extends "zahtevki/zahtevek/detail/navigacija_menu/tabs/tab_base.html" %}
{% load crispy_forms_tags %}


<!-- TAB_NAVIGACIJA############################################ -->

    <!--NASLOV-->
    {% block detail_tab_title %}ZAZNAMKI{% endblock %}
    <!--end NASLOV-->


    <!--CONTROLER_LEFT-->
    {% block detail_tab_controler_left %}
        <li><a href="" data-toggle="modal" data-target="#addZaznamek">Nov Zaznamek</a></li>
    {% endblock %}
    <!--end CONTROLER_LEFT-->


    <!--CONTROLER_RIGHT-->
    {% block detail_tab_controler_right %}
    
    {% endblock %}
    <!--end CONTROLER_RIGHT-->

<!-- end TAB_NAVIGACIJA -->


<!-- CONTENT################################################### -->

    {% block detail_tab_content %}

        <table class="table table-hover table-condensed">
            <tr>
                <th>tekst</th>
                <th>datum</th>
                <th>ura</th>
            </tr>

            {% if zaznamek_list %}
            {% for zaznamek in zaznamek_list %}
            <tr>
                <td>{{ zaznamek.tekst }}</td>
                <td>{{ zaznamek.datum }}</td>
                <td>{{ zaznamek.ura }}</td>
            </tr>
            {% endfor %}
            {% endif %}

        </table>



        <!-- Modal ADD Zaznamek-->
        <div class="modal fade" id="addZaznamek" tabindex="-1" role="dialog" aria-labelledby="addZaznamek">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Novo Zaznamek</h4>
                    </div>


                    <form action="" method="POST">{% csrf_token %}
                        <div class="modal-body">
                            {{ zaznamek_form|crispy  }}   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
                            <button type="submit" class="btn btn-primary">Shrani</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}
    
<!-- end CONTENT -->



