<!-- zahtevek detail : HEADER-GLAVNI-STOLPEC1 -->


<!--tabela-->
<table class="table">


    <!--vrstica******************************** -->
        <tr>
            <td><small><b>oznaka</b></small></td>
            <td><b style="color:#0000FF">{{ object.oznaka }}</b></td>
        </tr>


    <!--vrstica******************************** -->
        <tr>
            <td><small><b>predmet</b></small></td>
            <td><b style="color:#0000FF">{{ object.predmet }}</b></td>
        </tr>


    <!--vrstica******************************** -->
        <tr>
            <td><small><b>vrsta</b></small></td>
            <td>
                <!--IF : ŠKODNI DOGODEK-->
                {% if object.zahtevek_skodni_dogodek %}Škodni Dogodek{% endif %} 

                <!--IF : SESTANEK-->
                {% if object.zahtevek_sestanek %}Sestanek{% endif %} 

                <!--IF : IZVEDBA-DEL-->
                {% if object.zahtevek_izvedba_dela %}Izvedba del{% endif %}
            </td> 


    <!--vrstica***********OPCIJSKA****** ****** -->
        {% if object.zahtevek_parent %}     
        <tr>
            <td><small><b>osnova za zahtevek</b></small></td>
            <td>
                <small><b>
                        <a href="{% url 'moduli:zahtevki:zahtevek_detail' object.zahtevek_parent.pk %}">
                            {{ object.zahtevek_parent.predmet }} ({{ object.zahtevek_parent.oznaka }})
                        </a>
                </b></small>
            </td>
        </tr>
        {% endif %}


</table>
<!--end tabela-->












                    

 




