<!-- zahtevek detail : NAVIGACIJA_MENU -->



<div class="row m-t-30">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#dnevnik">Dnevnik</a></li>
                    <li><a data-toggle="tab" href="#prodaje">Prodaje</a></li>
                    <li><a data-toggle="tab" href="#najemi">Najemi</a></li>

                </ul>
                <!--end nav-tabs-->


            </div>


            <div class="panel-body" > 
                <div class="tab-content m-0"> 



                    <!--tab******************************** -->
                    <div id="dnevnik" class="tab-pane active">
                        <div class="profile-desk">
                            {% include "lastnistvo/predajalastnine/list/tabs/dnevnik.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->



                    <!--tab******************************** -->
                    <div id="prodaje" class="tab-pane">
                        <div class="profile-desk">
                            {% include "lastnistvo/predajalastnine/list/tabs/prodaje.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->


                    <!--tab******************************** -->
                    <div id="najemi" class="tab-pane">
                        <div class="profile-desk">
                            {% include "lastnistvo/predajalastnine/list/tabs/najemi.html" %}  
                        </div> <!-- end profile-desk -->
                    </div> <!-- end tab -->





                    </div>
                </div>
                <!--end tab-content-->



            </div>
        </div>
    </div>
</div>